#head, #content, #foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
#head {
    height: 75px;
    z-index: 100;
}
.mod-header {
    display: inline;
    font-size: 66px;
}
.mod-userbar {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 300;
    font-family: "Microsoft yahei", Arial, Helvetica, STHeiti, 瀹嬩綋;
}
.mod-userbar li {
    float: left;
    margin: 0 5px;
    color: #ccc;
    height: 24px;
}
.mod-userbar li a {
    color: #000;
    text-decoration: underline;
}
#nav {
    height: 42px;
}
#nav {
    width: 100%;
    background: #fafafa;
    z-index: 1;
}
.nav-2 {
    height: 46px;
    background: url(https://passport.baidu.com/static/passpc-base/img/hdbg.png) repeat-x 0 0;
    width: 100%;
}
.mod-nav {
    position: relative;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.page-type-notab {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-left: 70px;
    line-height: 46px;
    display: inline;
}
.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
#content {
    height: auto;
}
#content .mod-forgot {
    min-height: 500px;
    height: auto;
}
.mod-forgot {
    height: 450px;
    margin-left: 70px;
    width: 910px;
}
.mod-sub-nav {
    height: 34px;
    background: url(https://passport.baidu.com/static/passpc-security/img/mod/mod_sub_nav.png) no-repeat 0 0;
    margin: 30px 0;
    line-height: 34px;
    color: #666;
    font-size: 16px;
    font-family: "Microsoft Yahei",\5fae\8f6f\96c5\9ed1,\9ed1\4f53;
}
.mod-sub-nav li.list1-active {
    background: url(https://passport.baidu.com/static/passpc-security/img/mod/sub_nav_1.png) no-repeat 0 0;
    color: #2e82ff;
}
.mod-sub-nav li {
    float: left;
    padding-left: 66px;
}
.mod-sub-list1 {
    width: 175px;
}
.mod-step-detail .step-email-info, .mod-step-detail .step-form-info {
    font-size: 12px;
    padding-bottom: 10px;
}
.pass-input-container {
    margin-bottom: 20px;
}
.pass-input-container {
    position: relative;
}
.pass-input {
    border: 1px solid #CCC;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #fff;
    vertical-align: middle;
    font-size: 12px;
    _margin-top: 1px;
    padding: 7px 0 7px 8px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    background: url(https://passport.baidu.com/static/passpc-base/img/ui/form_input_261.png) no-repeat left top;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -o-transition-property: all;
    -o-transition-duration: .3s;
    transition-property: all;
    transition-duration: .3s;
    outline: 0;
    resize: none;
    width: 253px;
    float: left;
}
.pass-input-forgot {
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #fff;
}
.input-label-new1 {
    top: 6px;
    left: 10px;
    font-size: 14px;
}
.userName-clearbtn {
    background: url(https://passport.baidu.com/static/passpc-security/img/forgot/close.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    position: absolute;
    z-index: 8px;
    top: 15px;
    margin-left: -35px;
    height: 12px;
    width: 12px;
    display: none;
    transition: all ease-out .3s;
}
.l-h40 {
    line-height: 40px;
}
.pass-input-msg {
    line-height: 32px;
    float: left;
    color: #da1111;
    margin-left: 10px;
    font-size: 12px;
}
.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.m_b15 {
    margin-bottom: 15px;
}
.pass-account-slect .pass-radio-list {
    clear: both;
    margin-top: 10px;
    line-height: 16px;
    background-position: 0 0;
}
.pass-radio-list {
    position: relative;
}
.pass-radio {
    float: left;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR鈥�3IakF6mZAFyGGPGsDAMBoGgyUMnoAyBqnJGKrnCSOl2RkADS8pAQZncMwAAAAASUVORK5CYII=) no-repeat 0 8px;
    padding-left: 25px;
    cursor: pointer;
}
.pass-account-slect .pass-radio-list {
    clear: both;
    margin-top: 10px;
    line-height: 16px;
    background-position: 0 0;
}
.pass-radion-active {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR鈥AkCTIEBAmBDC8QEgDujwTAzBXoQsSzQflSFCWJMsQaHYGAIAFT0KWP06mAAAAAElFTkSuQmCC) no-repeat 0 8px;
}
.mod-step-detail .vcode-container {
    margin-bottom: 30px;
}
.mod-step-detail .vcode-container .vcode-input-width {
    width: 156px;
    margin-right: 0;
}
.mod-step-detail .vcode-container .vcode-input {
    float: left;
    width: 97px;
}
.mod-step-detail .vcode-container .vcode-label {
    width: 90px;
}
.mod-step-detail .vcode-container .vcode-img-big {
    float: left;
    width: 100px;
    height: 38px;
    border: 1px solid #ddd;
    margin-left: 10px;
}
.mod-step-detail .vcode-container .p-t13 {
    padding-top: 13px;
}
.mod-step-detail .vcode-container .vcode-img-change {
    padding-left: 10px;
    display: block;
    padding-top: 9px;
    float: left;
}
.l-h40 {
    line-height: 40px;
}
.mod-step-detail .pass-button-submit {
    display: block;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-image: none;
    border-radius: 3px;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    background-color: #3f89ec;
    width: 350px;
}
.pass-button-submit, .pass-button-timer2, .mod-btn1 {
    height: 34px;
    width: 109px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    background: url(https://passport.baidu.com/static/passpc-base/img/ui/button_icon.png) no-repeat 0 0;
    line-height: 32px;
}
#foot {
    text-align: center;
    color: #7a77c8;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pass-input-focus {
    border-color: #377bcb
}
a {
    text-decoration: none;
    color: #2b78e4;
}
.userName-clearbtn-hover {
    background-position: 0 -15px
}

.pass-input-error {
    border: 1px solid #da1111;
}
