<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.dao.CourseMapper">

	<select id="findBySubjectId" resultMap="resultMap">
		SELECT
			c.uid,
			c.`name`,
			c.orders,
			c.point_num,
			c.question_num,
			c.subject_id,
			c.icon
		FROM
			tiku_course c
		WHERE
			c.subject_id = #{subjectId}
		ORDER BY orders ASC
	</select>
	
</mapper>