<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.dao.QuestionMapper">

	<select id="findByChapterId" resultMap="resultMap">
		SELECT
			q.uid,
			q.analysis,
			q.answer,
			q.chapter_id,
			q.content,
			q.fallibility,
			q.question_type,
			q.subject_id,
			q.review_point,
			q.year,
			q.score
		FROM
			tiku_question q
		WHERE
			q.chapter_id = #{chapterId}
	</select>
	
	<select id="findByPaperId" resultMap="resultMap">
		SELECT
			q.analysis,
			q.answer,
			q.chapter_id,
			q.content,
			q.fallibility,
			q.paper_id,
			q.question_type,
			q.review_point,
			q.score,
			q.subject_id,
			q.uid,
			q.`year`
		FROM
			tiku_question q
		WHERE
			q.paper_id = #{paperId}
	</select>
	
</mapper>