<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.dao.SubjectMapper">

	<select id="queryPage" resultMap="resultMap">
		SELECT
			s.uid , s.name , s.course_id , s.course_name
		FROM
			tiku_subject s
		<where>
			<if test="name != null and name != ''">
				s.name like #{name}
			</if>
		</where>
	</select>

</mapper>