<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
	<div class="footer-contain clearfix">
		<div class="intro">
			<div class="title">百度题库</div>
			<p>
				百度题库旨在为考生提供高效的智能备考服务，全面覆盖中小学财会类、建筑工程、职业资格、医卫类、计算机类等领域。拥有优质丰富的学习资料和备考全阶段的高效服务，助您不断前行！
			</p>
		</div>
		<div class="connect">
			<div class="title">联系我们</div>
			<p>
				<i class="iconfont icon-yonghu"></i> 胡老师
			</p>
			<p>
				<i class="iconfont icon-mail"></i> tiku01@baidu.com
			</p>
			<p>
				<i class="iconfont icon-qq"></i> qq群：53811201
			</p>
		</div>
		<div class="suggest">
			<div class="title">投诉建议</div>
			<a href="/tikucommon/disclaimer" target="_blank">
				<p>
					<i class="iconfont icon-icon-test12"></i> <span>使用题库前必读</span>
				</p>
			</a> <a href="//wenku.baidu.com/feedback" target="_blank">
				<p>
					<i class="iconfont icon-icon-test10"></i> <span>投诉中心</span>
				</p>
			</a> <a href="//wenku.baidu.com/feedback" target="_blank">
				<p>
					<i class="iconfont icon-icon-test11"></i> <span>意见反馈</span>
				</p>
			</a>
		</div>
		<div class="cooperation">
			<div class="title">合作机构</div>
			<span class="left iconfont icon-xiangzuo1"></span> <span
				class="right iconfont icon-xiangyou1"></span>
			<div class="coo-view clearfix">
				<ul class="contain-ul dis-none" style="display: block;">
					<li class="contain-li"><a class="contain-link"
						href="http://www.zhulong.com" target="_blank"><img
							src="../images/築龙网-1496371671235.png"
							alt=""></a></li>
					<li class="contain-li"><a class="contain-link"
						href="http://www.mdlaw.net.cn" target="_blank"><img
							src="../images/木豆教育-1496371669600.png"
							alt=""></a></li>
					<li class="contain-li"><a class="contain-link"
						href="http://www.wangxiao.cn/" target="_blank"><img
							src="../images/中大网校-1496371670986.png"
							alt=""></a></li>
					<li class="contain-li"><a class="contain-link"
						href="http://www.educity.cn" target="_blank"><img
							src="../images/希赛网-1496371669867.png"
							alt=""></a></li>
					<li class="contain-li"><a class="contain-link"
						href="http://www.yikaotop.com/" target="_blank"><img
							src="../images/壹医考-1496371670503.png"
							alt=""></a></li>
					<li class="contain-li"><a class="contain-link"
						href="http://yaoguo.cn/promote/baiduLibrary?act=baiduLibrary&amp;actSrc=pc"
						target="_blank"><img
							src="../images/腰果公考-1496371670244.png"
							alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
	<p class="bottom">
		京ICP证 <a
			href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"
			target="_blank">030173</a>号&nbsp;&nbsp;
		京网文[2013]0934-983号&nbsp;&nbsp; Copyright © 2017 Baidu <a
			href="//www.baidu.com/duty/" class="duty">使用百度前必读</a>
	</p>
</div>