<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="header">
	<div class="menu">
		<div class="menu-contain clearfix">
			<a th:href="${setting.domain}"><span class="container-logo"></span></a>		
			<div class="contain-login">
                <div class="login-container">
                    <i th:if="${session.currMember == null}" class="login-icon iconfont icon-yonghu"></i><span th:if="${session.currMember == null}">登录</span>
                    <img th:if="${session.currMember != null}" class="user-photo" src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/01b9536d696c65746f63616e6479e71e" alt="用户头像">
                    <i th:if="${session.currMember != null}" class="photo-icon iconfont icon-down" style="transform: rotate(0deg);"></i>
                </div>
                <ul th:class="${currMember == null} ? 'login-option dis-none' : 'login-option'">
                    <li><a th:href="${setting.domain + 'member/index.html'}">我的首页</a></li>
                    <li><a th:href="${setting.domain + 'member/index.html'}">账号设置</a></li>
                    <li><a th:href="${setting.domain + 'logout.html'}">退出</a></li>
                </ul>
            </div>
			<ul class="contain-ul">
                <li class="contain-li contain-li-hashover" th:each="m,mStat:${menuList}" th:attr="data-class=${m.pinyin}">
                	 <span th:text="${m.name}"></span>
                     <i class="li-icon iconfont icon-xialajiantouxiao" data-class="zhiye" style="transform: rotate(0deg);"></i>
                </li>
                <li class="contain-li contain-li-hashover" data-class="all">
                                        全部考试<i class="li-icon iconfont icon-yingyongchengxu-xianxing" data-class="all" style="transform: rotate(0deg);"></i>
                </li>
            </ul>	
          </div>
	</div>
	<div class="clearfix submenu-container">
	    <div class="submenu clearfix" id="submenu">
	        <ul th:class="${m.pinyin + ' subm-ul dis-none'}" th:each="m,mStat:${menuList}">
	            <li class="subm-li" th:each="c,cmStat:${m.childSubjects}"><a th:href="${setting.domain + m.url}" target="_blank" th:text="${c.name}">高考</a></li>
	        </ul>
	        <div class="all-exm all dis-none">
	            <div class="all-ul" th:each="m,mStat:${allMenuList}">
	                <span class="all-ul-title">
	                    <i class="title-icon iconfont icon-iconfontshu"></i>
	                    <span th:text="${m.name}"></span>
	                </span>
	                <ul class="all-list clearfix">
	                    <li class="all-list-li" th:each="c,cmStat:${m.childSubjects}"><a href="https://tiku.baidu.com/tikupc/homepage/3f0c844769eae009581bec05" target="_blank" th:text="${c.name}">高考</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<script type="text/javascript" th:inline="javascript" th:fragment="header">
var mainHttp = [[${setting.domain}]];
</script>