<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="head" th:fragment="memberHeader">
	<div class="head-bar public">
		<div class="logo">
			<a target="_blank" th:href="${setting.domain}">
				<img src="https://kao.acmcoder.com/images/logo.png">
			</a>
			<p><span>考试中心</span></p>
		</div>
		<ul class="nav">
			<li class="active"><a th:href="${setting.domain + 'member/index.html'}">首页</a></li>
			<li><a th:href="${setting.domain + 'member/paper.html'}">试卷</a></li>
			<li><a th:href="${setting.domain + 'member/account.html'}">帐号</a></li>
			<li><a th:href="${setting.domain + 'member/questionList.html'}">题库</a></li>
		</ul>
		<div class="mguser">
			<div class="mguser-box">
				<span th:text="${session.currMember.username}">tamguo</span>
				<a th:href="${setting.domain + 'logout.html'}">退出</a>
			</div>
		</div>
	</div>
</div>