<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="head" th:fragment="memberHeader">
	<div class="head-bar public">
		<div class="logo">
			<a target="_blank" href="http://www.acmcoder.com" s="">
				<img src="https://kao.acmcoder.com/images/logo.png">
			</a>
			<p><span>考试中心</span></p>
		</div>
		<ul class="nav"><li class="active"><a href="https://kao.acmcoder.com/b/">首页</a></li><li><a href="https://kaosys.acmcoder.com/position#/list/1">试卷</a></li><li><a href="https://kaosys.acmcoder.com/paper#/list">场次</a></li><li><a href="https://kaosys.acmcoder.com/cands#/home">考生</a></li><li><a href="https://kaosys.acmcoder.com/monitor#/list">监考</a></li><li><a href="https://kaosysy.acmcoder.com/prj/reviewPaperList.do">报告</a></li><li><a href="https://kaosys.acmcoder.com/ques#/list">题库</a></li></ul>
		<div class="mguser">
			<div class="mguser-box">
				<input type="hidden" id="entAccountId" name="entAccountId" value="8432">
				<input type="hidden" id="roleTypeHeader" name="roleTypeHeader" value="3">
				<input type="hidden" id="examVersionHeader" name="examVersionHeader" value="1">
				<input type="hidden" id="enterRight" name="enterRight" value="">
				<a href="javascript:void(0)">
					<p id="username1">盘顺军</p>&nbsp;&nbsp;
					<i class="photo-icon iconfont icon-down"></i>
					
						<table class="headlogotable">
							<tbody><tr>
								<td>
									<img src="https://kao.acmcoder.com/images/defphoto/peopleSix.png" data-src="/images/defphoto/peopleSix.png" class="hgimg">
								</td>
							</tr>
						</tbody></table>
					
					
				</a>
			</div>
			<ul class="mguser-cnt"><li><a href="https://kao.acmcoder.com/b/accountInfo"><img src="https://cdn.acmcoder.com/static/1.0.1/images/person.png" style="width: 14px;position: relative;left: -10px;top: -2px;">&nbsp;个人信息</a></li><li><a href="https://kao.acmcoder.com/b/entInfo"><img src="https://cdn.acmcoder.com/static/1.0.1/images/compnew.png" style="width: 14px;position: relative;left: -10px;top: -2px;">&nbsp;公司信息</a></li><li><a href="https://kao.acmcoder.com/b/order"><img src="https://cdn.acmcoder.com/static/1.0.1/images/money.png" style="width: 14px;position: relative;left: -10px;top: -2px;">&nbsp;账户管理</a></li><li><a href="https://kao.acmcoder.com/enterprise/login"><img src="https://cdn.acmcoder.com/static/1.0.1/images/exit.png" style="width: 14px;position: relative;left: -10px;top: -2px;">&nbsp;退出登陆</a></li></ul>
		</div>
	</div>
</div>