<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>会员中心-添加试卷</title>
		<link rel="stylesheet" th:href="${setting.domain+'css/main.css'}"></link>
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/iconfont.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/member/paperList.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'js/plugins/layui/css/layui.css'}">
	</head>
	<body>
		<div class="header">
			<div class="menu">
			<div class="menu-contain clearfix">
				<a><span class="container-logo"></span></a>		
				<div class="contain-login">
	                <div class="login-container">
	                    <i class="login-icon iconfont icon-yonghu"></i>登录
	                </div>
	                <ul class="login-option dis-none">
	                    <li><a href="/">我的首页</a></li>
	                    <li><a href="/">账号设置</a></li>
	                    <li><a href="/">退出</a></li>
	                </ul>
	            </div>
				<ul class="contain-ul">
	                <li class="contain-li contain-li-hashover" data-class="zhiye">
	                     	职业资格类<i class="li-icon iconfont icon-xialajiantouxiao" data-class="zhiye" style="transform: rotate(0deg);"></i>
	                </li>
	                <li class="contain-li contain-li-hashover" data-class="jianzhu">
	                                        建筑类<i class="li-icon iconfont icon-xialajiantouxiao" data-class="jianzhu" style="transform: rotate(0deg);"></i>
	                </li>
	                <li class="contain-li contain-li-hashover" data-class="xueli">
	                                        学历类<i class="li-icon iconfont icon-xialajiantouxiao" data-class="xueli" style="transform: rotate(0deg);"></i>
	                </li>
	                <li class="contain-li contain-li-hashover" data-class="caikuai">
	                                        财会类<i class="li-icon iconfont icon-xialajiantouxiao" data-class="caikuai" style="transform: rotate(0deg);"></i>
	                </li>
	                <li class="contain-li contain-li-hashover" data-class="yiyaolei">
	                                        医药类<i class="li-icon iconfont icon-xialajiantouxiao" data-class="yiyaolei" style="transform: rotate(0deg);"></i>
	                </li>
	                <li class="contain-li contain-li-hashover" data-class="all">
	                                        全部考试<i class="li-icon iconfont icon-yingyongchengxu-xianxing" data-class="all" style="transform: rotate(0deg);"></i>
	                </li>
	            </ul>	
           </div>
		</div>
		</div>
		
		<div class="cnav">
			<div class="public cnav_b">
				<div class="cnav_left">
					考试五步曲
				</div>
				<div class="cnav_right">
					<ul>
						<li><span class="Cnav_t">1</span><b>新建试卷</b></li>
						<li><span>2</span>添加试题</li>
						<li><span>3</span>发起一场考试</li>
						<li><span>4</span>导考生，发通知</li>
						<li><span>5</span>查看报告</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="plist test_public myPositionList ng-scope">
		    <div class="topbt topbt-2">
		        <h3>我的试卷</h3>
		    </div>
		
		    <div class="pageShow">
		        <div class="con_top addNewPaper">
		            <div style="position:absolute;top:12px;">
		                <div class="fl">
		                    <input class="select-n" ng-value="keySearch" type="text" placeholder="试卷名称关键字">
		                    <a class="select-t" href="javascript:void(0)"></a>
		                </div>
		            </div>
		            <span style="text-align: center;" id="addSiama"><a href="javascript:void(0)" ng-click="newPaper()">+ 新建试卷</a></span>
		           
		        </div>
		
		        <table class="public-tab">
		            <tbody>
		            <tr align="center" valign="middle">
		                <td width="254">试卷名称</td>
		                <td width="100">子卷数</td>
		                <td width="100">总题数</td>
		                <td width="100">下载数</td>
		                <td width="100">查阅数</td>
		                <td width="135">试卷状态</td>
		                <td>操作</td>
		            </tr>
		            </tbody>
		        </table>
		
		        <div class="plist-table positionList ng-scope" style="" th:each="p,pStat:${paperList}">
		            <div class="selectImg"></div>
		            <table class="plist-ctab" data-positiontitle="赛码样卷（示例）" data-aftertitle="Demo体验使用" data-timetype="0" data-opentype="" data-opentime="0" data-papercode="">
		                <tbody>
		                <tr align="center" valign="middle" style="height:66px">
		                    <td width="300" class="plist-bt">
		                        <span>-</span>
		                        <div class="M ng-binding" style="line-height: 40px;" title="软件JAVA" th:text="${p.name}">软件JAVA
                        		</div>
		                    </td>
		                    <td width="100"><span style="font-weight: bolder;font-size: 14px;" class="ng-binding" th:text="${#arrays.length(p.queInfo)}">3</span>
		                        卷
		                    </td>
		                    <td width="100"><span style="font-weight: bolder;font-size: 14px;" class="ng-binding" th:text="${p.downHits}">19</span> 题
		                    </td>
		                    <td width="100"><span style="font-weight: bolder;font-size: 14px;" class="ng-binding" th:text="${p.downHits}">110</span> 次
		                    </td>
		                    <td width="100"><span style="font-weight: bolder;font-size: 14px;" class="ng-binding" th:text="${p.openHits}">60</span> 次
		                    </td>
		
		                    <td width="135" class="unlocked ng-scope"><i class="fa fa-unlock"></i><span style="top:42px">未锁定</span></td>
		                    <td class="plist-x">
		                    <span>
		                    	<a href="javascript:void(0)" class="updatePaperBtn" th:attr="data-name=${p.name},data-uid=${p.uid}">编辑</a>|<a href="javascript:void(0)" th:attr="data-name=${p.name},data-uid=${p.uid}" class="deletePaperBtn">删除</a>
		                	</span>
		                        <ul class="testPaper-list">
		                            <li><a class="addPaper" th:attr="data-name=${p.name},data-uid=${p.uid}">添加子卷</a>
		                            </li>
		                            <li><a href="#" target="_blank" class="ng-scope">预览试卷</a>
		                        </ul>
		                    </td>
		                </tr>
		                </tbody>
		            </table>
		            <div>
			           <table class="plist-ctab2 able">
			                <tbody>
			                <tr class="tr_header" align="center" valign="middle">
			                    <td width="62">No. <span></span></td>
			                    <td width="190">子卷名称<span></span></td>
			                    <td width="55">题数</td>
			                    <td width="80">分值</td>
			                    <td width="70">时长</td>
			                    <td width="70">试题乱序</td>
			                    <td width="70">选项乱序</td>
			                    <td width="100">提交后修改</td>
			                    <td>操作</td>
			                </tr>
			                <tr th:each="q,qStat:${p.queInfo}" class="paperData ng-scope" align="center" valign="middle" data-arrayindex="">
			                    <td class="ng-binding">子卷 1</td>
			                    <td style="position: relative">
			                        <div class="paperTitle ng-binding" title="软件JS" style="max-width: 152px;" th:text="${q.name}">软件JS</div>
			                        <!-- ngIf: pp.forCode -->
			                        <span title="" class="ng-binding"></span></td>
			                    <td class="ng-binding">0 题</td>
			                    <td class="ng-binding">0.0 分</td>
			                    <td class="ng-binding">20 分钟</td>
			                    <td style="color: #999999" class="ng-binding">乱序</td>
			                    <td style="color: #999999" class="ng-binding">乱序</td>
			                    <td style="color: #999999" class="ng-binding">不能修改</td>
			                    <!-- ngIf: rightStr.split(',').indexOf('right_id11')>-1 -->
			                    <td class="plist-x" style="float:none">
			                        <div>
			                        <span style="margin-left:0;">
			                            <a href="javascript:void(0)" class="update_paper2">编辑</a>|
			                            <a href="javascript:void(0)" class="del">删除</a>|
			                            <a class="up" href="javascript:void(0)">上移</a>|
			                            <a class="down" href="javascript:void(0)">下移</a>
			                        </span>
			                            <ul class="addQuestion" style="margin:-3px 0 0;float:none">
			                                <li class="ng-scope"><a class="add able" href="javascript:void(0)">添加试题</a>
			                                </li>
			                                <li class="ng-scope"><a class="edit able" href="/ques#/manager/5acda76207c45019db5b15fa/5acda77607c45019db5b15fb">管理试题</a>
			                                </li>
			                            </ul>
			                        </div>
			                    </td>
			                </tr><!-- end ngRepeat: pp in p.routinePaper -->
			                </tbody>
			            </table>
		            </div>
		        </div>
		        <div style="text-align: center">
		            <div id="pagination" class="pagination"></div>
		        </div>
		
		        <div class="plist-f"></div>
		        <div class="clear"></div>
		    </div>
		</div>
		
		<div class="footer">
			<div class="public">
				<div class="footer-left" style="width:60%">
					<div class="footer-logo" style="margin-top: -5px;padding-top:0px;"><img th:src="${setting.domain + 'images/member/footer/blogo.png'}" style=" position: relative;left: -32px;top: 2px;"></div>
					<div class="footer-txt">
						<a target="_blank" href="http://www.acmcoder.com/aboutus/about.html">关于我们</a>　|
						<a target="_blank" href="http://www.acmcoder.com/aboutus/contact.html">联系我们</a>　|
						<a target="_blank" href="http://www.acmcoder.com/aboutus/shengming.html">免责声明</a><br>Copyright © acmcoder.com<br><span class="inputSpan">All Rights Reversed 京ICP备15012255-1</span></div>
				</div>
				<div class="footer-right" style="width:40%;float: left;padding-top: 40px;text-align: center;line-height: 17px;">
					<table style="line-height: 26px;text-align: center;">
						<tbody>
							<tr>
								<td width="100"><img th:src="${setting.domain + 'images/member/footer/f-phone.png'}"></td>
								<td style="font-size: 14px;width:200px">客服热线：010-85359782<br>销售热线：010-85359766</td>
								<td style="font-size: 14px;">
									<a class="weixinPng" href="javascript:void(0)" style="color:white;position: relative;"><img th:src="${setting.domain + 'images/member/footer/f-weixin.png'}"> &nbsp;&nbsp;iamacmcoder<img class="hide" style="width: 80px;position: absolute;left: 130px;top: -50px;" th:src="${setting.domain + 'images/member/footer/saimaweixin.jpg'}"></a><br>
									<a href="javascript:void(0)" style="color:white"><img th:src="${setting.domain + 'images/member/footer/f-qq.png'}"> &nbsp;&nbsp;2531743633</a><br></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="${setting.domain + 'js/jquery-1.8.3.min.js'}" ></script>
	<script th:src="${setting.domain + 'js/plugins/layer/layer.js'}"></script>
	<script th:src="${setting.domain + 'js/plugins/layui/layui.js'}"></script>
	<script type="text/javascript" th:src="${setting.domain + 'js/member/paperList.js'}" ></script>
	<script type="text/javascript" th:inline="javascript">
		var mainHttp = [[${setting.domain}]];
	</script>
</html>
