<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>探果-找回密码</title>
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/password/resetPassword.css'}" />
	</head>
	<body>
		<div id="wrapper" class="">
			<div id="head">
				<div class="mod-header">
					<a href="https://passport.baidu.com/"><img src="https://passport.baidu.com/static/passpc-base/img/logo/logo.gif" alt="logo"></a>
				</div>
				<ul class="mod-userbar">
					<li>
						<a id="mod-userbar-login" href="###">登录</a>
					</li>
					<li>|</li>
					<li>
						<a href="https://passport.baidu.com/v2/?reg&amp;tpl=&amp;u=">注册</a>
					</li>
				</ul>
			</div>
			<div id="nav">
				<div class="nav-2">
					<div class="mod-nav clearfix">
						<h1 class="page-type-notab">找回密码</h1>
					</div>
				</div>
			</div>
			<div id="content">
				<div class="mod-forgot">
					<ul class="mod-sub-nav">
						<li class="mod-sub-list1">确认帐号</li>
						<li class="mod-sub-list2">安全验证</li>
						<li class="mod-sub-list3 list3-active">重置密码</li>
					</ul>
					<div class="mod-step-detail">
						<p class="step-form-tip m_l80">您正在找回的帐号是：喜欢吃鱼的果果</p>
						<form action="?getpassresetpwd" method="post" id="form-resetpwd">
							<div class="pass-input-container clearfix">
								<label class="pass-input-title l-h40" for="password">新密码</label>
								<input type="password" class="pass-input pass-input-forgot left" name="password" id="password" value="" autocomplete="off">
								<div class="pass-input-pwdmsg">
									<div class="pass-streng-wrapper" id="pass_pwdMsg">
										<span class="pass-tips-streng">
											<span id="pass-tips-level"></span>
										</span>
										<span id="pass-tips-title" class="left"></span>
									</div>
									<span class="pass-input-msg l-h40" id="pass_input_msg_Pwd"></span>
								</div>
							</div>
							<div class="pass-input-container clearfix">
								<label class="pass-input-title l-h40" for="repassword">确认新密码</label>
								<input type="password" class="pass-input pass-input-forgot left" name="verifypwd" id="verifypwd" value="" autocomplete="off">
								<span class="pass-input-msg l-h40" id="repassword_msg"></span>
							</div>
							<div class="m_l80">
								<input type="hidden" name="resetPasswordKey" th:value="${resetPasswordKey}">
								<input type="hidden" name="username" th:value="${username}">
								<input class="pass-button-submit" type="submit" name="" value="确定" id="submit-resetpwd">
							</div>
						</form>
					</div>
				</div>
				<div class="pass-tips hide" id="pass-tips" style="top: 245px; left: 505px; display: none;">
					<span class="pwd-checklist-arrow"><em class="arrowa">◆</em><em class="arrowb">◆</em></span>
					<ul class="pass-tips-content">
						<li id="pwdLen" class="pass-tips-content-item pass-tips-content-item-error">长度为6~14个字符</li>
						<li id="pwdCha" class="pass-tips-content-item">支持数字,大小写字母和标点符号</li>
						<li id="pwdSpa" class="pass-tips-content-item pass-tips-content-item-success">不允许有空格</li>
					</ul>
				</div>
			</div>
			<div id="foot">
				<div class="mod-footer">
					<div class="copy-box">2018&nbsp;©Baidu</div>
				</div>
			</div>
		</div>
	</body>
	
<script type="text/javascript" th:src="${setting.domain + 'js/jquery-1.8.3.min.js'}"></script>
<script type="text/javascript" th:src="${setting.domain + 'js/member/password/resetPassword.js'}"></script>
</html>