<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>探果-找回密码</title>
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/password/securityCheck.css'}" />
	</head>
	<body>
		<div id="wrapper" class="">
			<div id="head">
				<div class="mod-header">
					<a href="https://passport.baidu.com/"><img src="https://passport.baidu.com/static/passpc-base/img/logo/logo.gif" alt="logo"></a>
				</div>
				<ul class="mod-userbar">
					<li>
						<a id="mod-userbar-login" href="###">登录</a>
					</li>
					<li>|</li>
					<li>
						<a href="https://passport.baidu.com/v2/?reg&amp;tpl=&amp;u=">注册</a>
					</li>
				</ul>
			</div>
			<div id="nav">
				<div class="nav-2">
					<div class="mod-nav clearfix">
						<h1 class="page-type-notab">找回密码</h1>
					</div>
				</div>
			</div>
			<div id="content">
				<div class="mod-forgot">
					<ul class="mod-sub-nav">
						<li class="mod-sub-list1">确认帐号</li>
						<li class="mod-sub-list2 list2-active">安全验证</li>
						<li class="mod-sub-list3">重置密码</li>
					</ul>
					<div class="mod-step-detail" style="position:relative;">
						<div class="forgot-auth-container">
							<p class="step-form-info">为了你的帐号安全，请完成身份验证</p>
							<div class="forgot-auth-type m-t10" id="mobile-auth">
								<form th:action="${setting.domain + 'password/securityCheck.html'}" method="post" class="form-2" id="form-mobile">
									<div class="forgot-auth-title">手机验证</div>
									<div class="form-2-item clearfix pass-input-container">
										<label class="form-2-label">手机号：</label>
										<div class="form-2-content line-32" th:text="${result.result.username}">
											156******86</div>
									</div>
									<p class="verify-method">验证码：</p>
									<div class="form-2-item clearfix">
										<div class="form-2-content pass-input-container vcode-container m-b-mobile">
											<input type="text" class="pass-input vcode-input pass-input-new" name="mobileVcode" value="" id="pass-input-mobileVcode" placeholder="手机验证码">
											<div class="pass-button-timer" id="pass-button-new1">发送验证码</div>
											<span class="pass-input-stip" id="forgot-mobileVcode-success"></span>
											<div class="clear"></div>
											<a class="pass-input-stip" id="forgot-mobileVcode-unreceived" style="margin-left:0;display:none;">收不到短信验证码?</a>
											<span class="pass-input-msg" id="forgot-mobileVcode-tip"></span>
										</div>
									</div>
									<div style="margin-bottom:10px;">
										<a href="http://passport.baidu.com/?getpassappeal&amp;tpl=do&amp;code=21cadf1b871e7920211fd91ff551960ac7f5b1ff&amp;bdToken=2de9aaddd3ae6958ccee8eb3503ed83f&amp;sub_source=un_mobile">手机号不可用？</a>
									</div>
									<div class="m-b30">
										<input type="hidden" name="username" th:value="${result.result.username}"></input>
										<input class="pass-button-submit pass-submit-form pass-button-new1" type="submit" name="" value="下一步" id="submit-mobile" t="mobile">
									</div>
								</form>
								<div id="upsms-auth" class="hide">
									<div class="forgot-auth-title">手机验证：</div>
									<p class="step-form-info">请使用手机156******86发送短信到 10690691036581</p>
									<div class="upsms-auth-content clearfix">
										<div class="upsms-auth-left">
											<p>编辑短信：<em id="upsms-vcode"></em></p>
											<p>发送到 1069 0691 0365 81</p>
											<p class="upsms-auth-tip">可能会由运营商收取0.1元短信费用</p>
										</div>
										<div class="upsms-auth-right">
											<div id="upsms-qrcode"><img width="80" height="80"></div>
											<p class="upsms-mt10">也可扫描二维码发送短信</p>
										</div>
									</div>
									<div class="clearfix">
										<input class="pass-button-submit left" type="submit" name="" value="返回" id="back-mobile-auth">
										<span class="pass-input-msg"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="step-tip m-t0">
							<ul>
								<li class="clearfix">
									<div class="img-info left"><img src="/static/passpc-security/img/forgot/info.png" width="12" height="13"></div>如果您的密保工具都已无法使用，可使用
									<a href="http://passport.baidu.com/?getpassappeal&amp;tpl=do&amp;code=21cadf1b871e7920211fd91ff551960ac7f5b1ff&amp;bdToken=2de9aaddd3ae6958ccee8eb3503ed83f&amp;sub_source=un_all" target="_blank">点此申诉</a>，成功后可更换。</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="foot">
				<div class="mod-footer">
					<div class="copy-box">2018&nbsp;©Baidu</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" th:src="${setting.domain + 'js/jquery-1.8.3.min.js'}"></script>
	<script type="text/javascript" th:src="${setting.domain + 'js/member/password/securityCheck.js'}"></script>
</html>