<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<title>最热视频列表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{../css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{../plugins/jqgrid/ui.jqgrid-bootstrap.css}">
<link rel="stylesheet" th:href="@{../plugins/ztree/css/metroStyle/metroStyle.css}">
<link rel="stylesheet" th:href="@{../plugins/jquery-tags-input/jquery.tagsinput.css}">
<link th:href="@{../plugins/fileinput/fileinput.min.css?v=2}" rel="stylesheet">
<link rel="stylesheet" th:href="@{../css/main.css}">
<script th:src="@{../libs/jquery.min.js}"></script>
<script th:src="@{../plugins/layer/layer.js}"></script>
<script th:src="@{../libs/bootstrap.min.js}"></script>
<script th:src="@{../libs/vue.min.js}"></script>

<script th:src="@{../plugins/jqgrid/grid.locale-cn.js}"></script>
<script th:src="@{../plugins/jqgrid/jquery.jqGrid.min.js}"></script>

<script th:src="@{../js/common.js}"></script>

</head>
<body>
<div id="rrapp" v-cloak>
	<div>
		
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
</div>
<script th:src="@{../js/video/topVideo.js}"></script>
</body>
</html>