.content-wp {
    min-height: 500px;
}
.main {
    background-color: #f0f0f0;
}
.main {
    display: table-cell;
    width: auto;
    _position: relative;
    _right: -3px;
    _margin-left: -3px;
}
.main-submenu {
    background-color: #fff;
}
.main-submenu .submenu-contain {
    width: 1180px;
    margin: auto;
}
.main-submenu .submenu-contain .contain-title {
    font-size: 20px;
    line-height: 70px;
}
.main-submenu .submenu-contain .contain-title a {
    font-weight: 700;
    text-decoration: none;
    color: #333;
}
.main-submenu .submenu-contain .contain-ul {
    float: right;
}
.main-submenu .submenu-contain .contain-ul .contain-li {
    font-size: 14px;
    float: left;
    width: 56px;
    height: 67px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    margin-left: 44px;
    border-bottom: 3px solid #fff;
}
.main-submenu .submenu-contain .contain-ul .contain-li a {
    display: inline-block;
    border-bottom: 3px solid #fff;
    width: 100%;
    height: 100%;
    color: #333;
}
.main-submenu .submenu-contain .contain-ul .contain-li a.curr {
    color: #11a68d;
    border-bottom: 3px solid #11a68d;
}
.main .main-inner {
    width: 1180px;
    min-height: 726px;
    margin: auto;
}
.backtotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #149987;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    z-index: 9999999;
}
.screening {
    width: 1180px;
    margin: 15px 0;
}
.screening .sc-subject {
    line-height: 42px;
    border-bottom: 1px solid #e0e0e0;
}
.screening .sc-subject li:first-child {
    padding-left: 0;
}
.screening .sc-subject .selected {
    background-color: #11a68d;
}
.screening .sc-subject li {
    font-size: 14px;
    margin: 9px 6px 9px 0;
    padding: 6px 12px;
    float: left;
    line-height: 1;
}
.screening .sc-subject .selected a {
    color: #fff;
}
.main .main-inner .list-left {
    float: left;
}
#outline {
    width: 329px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
#outline .out-chapter {
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
#outline .out-chapter h3 {
    font-size: 16px;
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    padding-left: 25px;
    border-left: 5px solid #f5f5f5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#outline .out-chapter h3:hover {
    background-color: #fafafa;
    border-left: 5px solid #ccc;
}
#outline .show .k1 {
    border-left: 5px solid #fff;
}
#outline .out-chapter h3 i.iconfont {
    font-size: 14px;
    color: #999;
}
#outline .out-chapter .out-list {
    display: none;
    padding-bottom: 15px;
}
#outline .out-chapter .out-list li {
    cursor: pointer;
    padding-left: 45px;
    line-height: 35px;
    border-left: 5px solid #f5f5f5;
    font-size: 14px;
}
.main .main-inner .list-right {
    float: right;
}
.detail {
    width: 849px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-left: 0;
    font-size: 14px;
}
.detail .detail-chapter {
    margin: 0 30px;
}
.detail .detail-chapter .detail-chapter-title {
    height: 69px;
    border-bottom: 1px solid #f0f0f0;
}
.detail .detail-chapter .detail-chapter-title h3 {
    line-height: 70px;
    font-size: 16px;
    font-weight: 700;
    float: left;
}
.detail .detail-chapter .detail-chapter-title a {
    width: 118px;
    height: 38px;
    line-height: 40px;
    display: block;
    float: right;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 14px;
    text-decoration: none;
    color: #333;
}
.detail .detail-chapter .detail-chapter-title ul {
    float: right;
    margin-top: 27px;
}
.detail .detail-chapter .detail-chapter-title ul li:first-child {
    border-right: 1px solid #ccc;
}
.detail .detail-chapter .detail-chapter-title ul li {
    float: left;
    display: block;
    padding: 0 19px;
}
.detail .detail-chapter .detail-chapter-title ul li span {
    color: #d95757;
}
.detail .detail-chapter .detail-kpoint-1 {
    border-bottom: 1px solid #f0f0f0;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-title {
    height: 70px;
    line-height: 70px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-title h4 {
    font-size: 16px;
    font-weight: 700;
    float: left;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-title span {
    float: left;
    font-size: 12px;
    color: #666;
    margin-left: 30px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-title a {
    color: #333;
    float: right;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content {
    width: 810px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 {
    float: left;
    width: 248px;
    height: 123px;
    border: 1px solid #ebebeb;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 h5 {
    font-size: 16px;
    margin-top: 40px;
    height: 40px;
    overflow: hidden;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 h5, .detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 p {
    padding: 0 30px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 p {
    margin-top: 13px;
    font-size: 12px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 h5, .detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 p {
    padding: 0 30px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 p {
    margin-top: 13px;
    font-size: 12px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 .mask {
    display: none;
    position: absolute;
    top: 0;
    width: 248px;
    height: 123px;
    background-color: #464f54;
    opacity: .9;
    z-index: 300;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 .mask a {
    display: block;
    width: 81px;
    height: 36px;
    border: 2px solid #11a68d;
    padding-left: 35px;
    line-height: 40px;
    color: #fff;
    margin-left: 60px;
    margin-top: 45px;
    background: url(//wkstatic.bdimg.com/static/gaokao/static/miti/tikupc/widget/chapterlist/detail/images/do_a4a4763.png) no-repeat;
    background-position: 15px 12px;
}
.detail .detail-chapter .detail-kpoint-1 .kpoint-1-content .detail-kpoint-2 .count {
    color: #d95757;
}
.foot {
    background-color: #f0f0f0!important;
    height: 70px;
}
.foot .crumbs {
    width: 1180px;
    margin: auto;
    line-height: 70px;
}
.foot .crumbs span {
    color: #999;
}
#outline .show {
    background-color: #fff;
    border-right: 0;
}
.body:after, .main:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0!important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}