.content-wp {
    min-height: 500px;
}
.main {
    background-color: #f0f0f0;
}
.main {
    display: table-cell;
    width: auto;
    _position: relative;
    _right: -3px;
    _margin-left: -3px;
}
.main-submenu {
    background-color: #fff;
}
.main-submenu .submenu-contain {
    width: 1180px;
    margin: auto;
}
.main-submenu .submenu-contain .contain-title {
    font-size: 20px;
    line-height: 70px;
}
.main-submenu .submenu-contain .contain-title a {
    font-weight: 700;
    text-decoration: none;
    color: #333;
}
.main-submenu .submenu-contain .contain-ul {
    float: right;
}
.main-submenu .submenu-contain .contain-ul .contain-li {
    font-size: 14px;
    float: left;
    width: 56px;
    height: 67px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    margin-left: 44px;
    border-bottom: 3px solid #fff;
}
.main-submenu .submenu-contain .contain-ul .contain-li a {
    display: inline-block;
    border-bottom: 3px solid #fff;
    width: 100%;
    height: 100%;
    color: #333;
}
.main-submenu .submenu-contain .contain-ul .contain-li a.curr {
    color: #11a68d;
    border-bottom: 3px solid #11a68d;
}
.main .main-inner {
    width: 1180px;
    min-height: 726px;
    margin: auto;
}
.backtotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #149987;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    z-index: 9999999;
}
.screening {
    background-color: #fff;
    padding: 30px 30px 15px;
    margin: 20px 0;
    font-size: 14px;
    color: #333;
}
.screening .sc-title {
    margin-bottom: 15px;
}
.screening .sc-title .sc-ti {
    font-weight: 700;
    font-size: 16px;
    float: left;
}
.screening .sc-title p {
    float: right;
    padding-left: 20px;
}
.screening .sc-title p .num {
    font-weight: 700;
    color: #e57373;
}
.screening .sc-list-content {
    border-bottom: 1px solid #e5e5e5;
}
.screening .sc-list-content .sub {
    float: left;
    line-height: 45px;
}
.screening .sc-list-content .sc-list {
    padding-left: 64px;
}
.screening .sc-list-content .sc-list li {
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: left;
    padding: 0 8px;
    margin: 8px 24px 8px 0;
}
.screening .sc-list-content .sc-list li a {
    display: block;
}
.screening .sc-list-content .sc-list .selected {
    background-color: #11a68d;
}
.main .main-inner .list-left {
    float: left;
    margin-right: 20px;
}
.mainlist {
    background-color: #fff;
    width: 720px;
    font-size: 14px;
    color: #333;
    padding: 0 30px;
}
.mainlist .title {
    height: 49px;
    line-height: 50px;
    border-bottom: 1px solid #e0e0e0;
}
.mainlist .title {
    height: 49px;
    line-height: 50px;
    border-bottom: 1px solid #e0e0e0;
}
.mainlist .title .sort {
    float: right;
}
.mainlist .title .sort .sort-down {
    margin-right: 7px;
}
.mainlist .paperlist-content .paperlist:first-child {
    border-top: 0;
}
.mainlist .paperlist-content .paperlist {
    height: 40px;
    padding: 30px 0;
    border-top: 1px solid #e0e0e0;
}
.mainlist .paperlist-content .paperlist .zhenti {
    background: url(//wkstatic.bdimg.com/static/gaokao/static/miti/tikupc/widget/paperlibrary/mainlist/images/list-zhenti_ae69a34.png) no-repeat;
}
.mainlist .paperlist-content .paperlist .paper-title-content {
    float: left;
    height: 100%;
    padding-left: 50px;
}
.mainlist .paperlist-content .paperlist .paper-link {
    display: block;
    float: right;
    width: 94px;
    height: 30px;
    border: 1px solid #e0e0e0;
    text-align: center;
    line-height: 32px;
}
.mainlist .paperlist-content .paperlist .paper-title-content .paper-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 540px;
}
.mainlist .paperlist-content .paperlist .paper-title-content .read {
    background: url(//wkstatic.bdimg.com/static/gaokao/static/miti/tikupc/widget/paperlibrary/mainlist/images/read_96d8ed6.png) no-repeat;
    background-position-y: 4px;
    margin-right: 24px;
}
.mainlist .paperlist-content .paperlist .paper-title-content .read, .mainlist .paperlist-content .paperlist .paper-title-content .down {
    display: block;
    float: left;
    font-size: 12px;
    color: #999;
    margin-top: 9px;
    padding-left: 15px;
}
.mainlist .paperlist-content .paperlist .paper-title-content .down {
    background: url(//wkstatic.bdimg.com/static/gaokao/static/miti/tikupc/widget/paperlibrary/mainlist/images/download_92a804b.png) no-repeat;
    background-position-y: 3px;
}
.main .main-inner .list-right {
    float: right;
}
.paging {
    position: relative;
    height: 56px;
}
.paging .page-content {
    position: absolute;
}
.paging .page-content .page-list {
    float: left;
}
.paging .page-content .page-list .page-num:first-child {
    margin-left: 0;
}
.paging .page-content .page-list .selected {
    background-color: #11a68d;
    font-weight: 700;
}
.paging .page-content .page-list .page-num {
    height: 26px;
    padding: 0 7px;
    float: left;
    margin-left: 12px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
}
.paging .page-content .page-list .selected a {
    color: #fff;
}
.paging .page-content .page-list .page-num a {
    display: block;
}
.paging .page-content .page-sum {
    float: left;
    height: 26px;
    line-height: 26px;
    margin-left: 26px;
}
.foot {
    background-color: #f0f0f0;
    height: 70px;
}
.foot .crumbs {
    width: 1180px;
    margin: auto;
    line-height: 70px;
}
.foot .crumbs span {
    color: #999;
}
.foot .crumbs {
    width: 1180px;
    margin: auto;
    line-height: 70px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.body:after, .main:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0!important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}