.content-wp {
    min-height: 500px;
}
.main {
    background-color: #f5f5f5;
}
.main {
    display: table-cell;
    width: auto;
    _position: relative;
    _right: -3px;
    _margin-left: -3px;
}
.main .main-inner {
    width: 1180px;
    margin: auto;
    margin-top: 20px;
}
.body:after, .main:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0!important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.backtotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #149987;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    z-index: 9999999;
}
.main .main-inner .main-contain {
    float: left;
    width: 780px;
}
.single {
    margin-bottom: 20px;
}
.single .question {
    background-color: #fff;
    padding: 0 30px;
}
.single .question .que-title {
    padding: 28px 0;
    color: #666;
}
.single .question .que-title .op {
    padding-left: 0;
    border-left: 0;
}
.single .question .que-title span {
    padding: 0 15px;
    border-left: 1px solid #d3d3d3;
    float: left;
}
.single .question .question-box {
    font-size: 16px;
    padding-bottom: 30px;
}
.bdjson p {
    line-height: 1.5;
}
.single .recommend-que {
    background-color: #fafafa;
}
.single .recommend-que .kpoint-contain {
    padding-bottom: 30px;
}
.single .recommend-que .point-title {
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 30px;
}
.single .recommend-que .point {
    padding: 0 30px;
}
.single .recommend-que .point .point-item {
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #ccc;
    color: #666;
    font-size: 14px;
}
.single .recommend-que .kpoint-contain .recq-contain {
    padding: 0 15px;
}
.single .recommend-que .kpoint-contain .recq-contain .recq {
    font-size: 14px;
}
.single .recommend-que .kpoint-contain .recq-contain .recq .recq-link {
    margin: 0 15px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-repeat: no-repeat;
    background-image: url(//wkstatic.bdimg.com/static/gaokao/static/miti/tikupc/widget/singledetail/single/images/paper-default_4279412.png);
    background-position-y: 50%;
    display: block;
    color: #333;
}
.single .recommend-que .kpoint-contain .recq-contain .recq .recq-link p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.single .answer {
    background-color: #fff;
    margin-top: 20px;
    padding: 0 30px;
    font-size: 14px;
}
.single .answer .exam-answer-title {
    background-size: inherit;
    background-image: url(//wkstatic.bdimg.com/static/gaokao/static/miti/tikupc/widget/singledetail/single/images/answer-ic_e2a51c3.png);
    padding-top: 24px;
    padding-bottom: 15px;
    background-position-y: 22px;
    margin: auto;
}
.single .answer .content {
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}
.bdjson p {
    line-height: 1.5;
}
.single .answer .analysis-ic {
    background-image: url(//wkstatic.bdimg.com/static/gaokao/static/miti/tikupc/widget/singledetail/single/images/analysis-ic_9ed7fd8.png);
}
.single .answer .ic {
    font-size: 16px;
    font-weight: 700;
    padding-left: 24px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin-top: 24px;
    margin-bottom: 15px;
    display: inline-block;
}
.single .answer .content {
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}
.bdjson p {
    line-height: 1.5;
}
.bdjson span, .bdjson img {
    vertical-align: middle;
}
.main .main-inner .sidebar {
    float: right;
    width: 380px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.main .main-inner .sidebar .sidebar-main, .main .main-inner .sidebar .sidebar-simplemain {
    width: 380px;
}
.hotexam {
    padding: 0 30px;
    font-size: 14px;
    background-color: #fff;
}
.hotexam .hotexam-title {
    font-size: 16px;
    font-weight: 700;
    padding: 30px 0;
    color: #333;
}
.hotexam .hotexam-content .hotexam-item {
    padding-right: 20px;
    padding-bottom: 15px;
    line-height: 1.5;
    float: left;
}
.hotexam .hotexam-content .hotexam-item a {
    color: #666;
    text-decoration: none;
}