<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>探果-登录</title>
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/member/login.css'}" />
	</head>
	<body>
		<div id="wrapper" class="">
			<div id="head">
				<div class="mod-header">
					<a th:href="${setting.domain + 'login.html'}"><img th:src="${setting.domain + 'images/password/logo.gif'}" alt="logo"></a>
				</div>
			</div>
			<div id="nav">
				<div class="nav-2">
					<div class="mod-nav clearfix">
						<h1 class="page-type-notab"></h1>
					</div>
				</div>
			</div>
			<div id="content" style="display: block;">
				<div class="clearfix login-container">
					<div class="login-form">
						<div class="login-wrapper">
							<div id="login" class="tang-pass-login animation" style="display: block; visibility: visible; opacity: 1;">
								<form id="TANGRAM__PSP_3__form" th:action="${setting.domain + 'submitLogin.html'}" class="pass-form pass-form-normal" method="POST" autocomplete="off">
									<p class="pass-form-logo">用户名密码登录</p>
									<p id="TANGRAM__PSP_3__errorWrapper" class="pass-generalErrorWrapper">
										<span id="TANGRAM__PSP_3__error" class="pass-generalError pass-generalError-error" th:text="${msg}"></span>
									</p>
									<p id="TANGRAM__PSP_3__MakeTextWrapper" class="pass-make-text" style="display:none;"></p>
									<p id="TANGRAM__PSP_3__hiddenFields" style="display:none"></p>
									<p id="TANGRAM__PSP_3__userNameWrapper" class="pass-form-item pass-form-item-userName" style="display:"><input type="text" style="display:none;">
									<input id="TANGRAM__PSP_3__userName" type="text" name="username" class="pass-text-input pass-text-input-userName open" autocomplete="off" th:value="${username}" placeholder="手机/邮箱/用户名">
									<span id="TANGRAM__PSP_3__userName_clearbtn" class="pass-clearbtn pass-clearbtn-userName" style="display: none; visibility: visible; opacity: 1;"></span><span id="TANGRAM__PSP_3__userNameTip" class="pass-item-tip pass-item-tip-userName" style="display:none"><span id="TANGRAM__PSP_3__userNameTipText" class="pass-item-tiptext pass-item-tiptext-userName"></span></span>
									<span class="pass-item-selectbtn pass-item-selectbtn-userName" style="display: none; visibility: hidden; opacity: 1;"></span></p>
									<p id="TANGRAM__PSP_3__passwordWrapper" class="pass-form-item pass-form-item-password" style="display:">
									<input type="password" style="display: none;">
									<input id="TANGRAM__PSP_3__password" type="password" name="password" class="pass-text-input pass-text-input-password" readonly onfocus="this.removeAttribute('readonly');" value="" placeholder="密码"><span id="TANGRAM__PSP_3__password_clearbtn" class="pass-clearbtn pass-clearbtn-password" style="display:none;"></span><span id="TANGRAM__PSP_3__passwordTip" class="pass-item-tip pass-item-tip-password" style="display:none"><span id="TANGRAM__PSP_3__passwordTipText" class="pass-item-tiptext pass-item-tiptext-password"></span></span>
									</p>
									<p id="TANGRAM__PSP_3__verifyCodeImgWrapper" class="pass-form-item pass-form-item-verifyCode" th:style="${isVerifyCode == '0' ? 'display:none' : 'display:block'}">
										<input id="TANGRAM__PSP_3__verifyCode" type="text" name="verifyCode" class="pass-text-input pass-text-input-verifyCode" maxlength="6" placeholder="验证码" autocomplete="off">
										<span id="TANGRAM__PSP_3__verifyCode_clearbtn" class="pass-clearbtn pass-clearbtn-verifyCode" style="display:none;"></span>
										<span id="TANGRAM__PSP_3__verifyCodeImgParent" class="pass-verifyCodeImgParent">
											<img id="TANGRAM__PSP_3__verifyCodeImg" class="pass-verifyCode" th:src="${setting.domain + 'admin/captcha.jpg'}"></span>
										<a id="TANGRAM__PSP_3__verifyCodeChange" href="#" class="pass-change-verifyCode">换一张</a><span id="TANGRAM__PSP_3__verifyCodeError" class="pass-error pass-error-verifyCode"></span><span id="TANGRAM__PSP_3__verifyCodeTip" class="pass-tip pass-tip-verifyCode"></span><span id="TANGRAM__PSP_3__verifyCodeSuccess" class="pass-success pass-success-verifyCode"></span></p>
									<p id="TANGRAM__PSP_3__memberPassWrapper" class="pass-form-item pass-form-item-memberPass"><input id="TANGRAM__PSP_3__memberPass" type="checkbox" name="memberPass" class="pass-checkbox-input pass-checkbox-memberPass" checked="checked"><label for="TANGRAM__PSP_3__memberPass" id="TANGRAM__PSP_3__memberPassLabel" class="">下次自动登录</label></p>
									<p id="TANGRAM__PSP_3__submitWrapper" class="pass-form-item pass-form-item-submit"><input id="TANGRAM__PSP_3__submit" type="submit" value="登录" class="pass-button pass-button-submit">
										<a class="pass-fgtpwd pass-link" th:href="${setting.domain + 'password/find.html'}" target="_blank">忘记密码？</a>
									</p>
								</form>
							</div>
							<div class="tang-pass-footerBar">
								<p class="tang-pass-footerBarULogin pass-link" title="用户名登录" data-type="normal" id="TANGRAM__PSP_3__footerULoginBtn">用户名登录</p>
								<div class="tang-pass-footerBarPhoenix"><span class="tang-pass-footerBarPhoenixSplit"></span>
									<div class="tang-pass-footerBarPhoenixItem" id="TANGRAM__PSP_3__PhoenixItem">
										<div id="pass-phoenix-login" class="tang-pass-login-phoenix">
											<div id="pass-phoenix-list-login" class="pass-phoenix-list clearfix">
												<div class="pass-phoenix-btn clearfix" id="pass_phoenix_btn">
													<ul class="bd-acc-list">
														<li class="bd-acc-qzone" data-dialog="1" data-acc="15" data-height="450" data-width="750">
															<a class="phoenix-btn-item" href="#" data-title="qzone" title="QQ帐号">QQ帐号</a>
														</li>
														<li class="bd-acc-tsina" data-dialog="1" data-acc="2" data-height="669" data-width="800">
															<a class="phoenix-btn-item" href="#" data-title="tsina" title="新浪微博">新浪微博</a>
														</li>
														<li class="bd-acc-weixin" data-dialog="1" data-acc="42" data-height="450" data-width="850">
															<a class="phoenix-btn-item" href="#" data-title="weixin" title="微信">微信</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
								<a class="pass-reglink pass-link" th:href="${setting.domain + 'register.html'}" target="_blank">立即注册</a>
							</div>
						</div>
					</div>
				</div>
				<input type="hidden" value="上海" id="jsCurrentCity">
			</div>
			<div id="foot">
				<div class="mod-footer">
					<div class="copy-box">2018&nbsp;©Baidu</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="${setting.domain + 'js/jquery-1.8.3.min.js'}" ></script>
	<script type="text/javascript" th:src="${setting.domain + 'js/member/login.js'}"></script>
</html>