<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>探果-试卷</title>
	<link rel="stylesheet" th:href="${setting.domain + 'css/main.css'}"></link>
	<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
	<link rel="stylesheet" th:href="${setting.domain + 'css/iconfont.css'}" />
	<link rel="stylesheet" th:href="${setting.domain + 'css/paper.css'}" />
</head>
<body>
	<!-- 头部-->
	<div th:replace="include/header :: header"></div>
		
	<div class="content-wp">
         <div class="main">
                    
		    <div class="title-bar">
			    <div class="title-inner">
			        <ul class="paper-title clearfix">
			            <li class="title" th:text="${paper.name}">物理 丰台区2017年高三第二次模拟考试</li>
			            <li class="learnnum" th:text="${paper.openHits}">77052</li>
			            <li class="down-num" th:text="${paper.downHits}">15921</li>
			            
			        </ul>
			        <ul class="quic-nav clearfix">
			            <li class="first " th:each="qi,qtStat:${paper.queInfo}">
			                <a data-type="sc" th:text="${qi.name}">单选题</a>
			            </li>
			        </ul>
			        <a class="download-btn-wrap">
			            <span class="download-btn">
			                <span class="donwload-text">立即下载</span>
			            </span>
			        </a>
			    </div>
			</div>
			<div class="quic-nav-wrap">
			    <div class="quic-nav-inner">
			        <ul class="quic-nav clearfix">
			            <li class="first " th:each="qi,qtStat:${paper.queInfo}">
			                <a data-type="sc" th:text="${qi}">单选题</a>
			            </li>
			        </ul>
			        <a class="download-btn-wrap">
			            <span class="download-btn">
			                <span class="donwload-text">立即下载</span>
			            </span>
			        </a>
			    </div>
			</div>
			
			<!-- 下载模版 -->
			<div class="downleader">
			    <span class="download-icon d-ok"></span>
			    <span class="download-icon d-no-word"></span>
			    <span class="download-icon d-no-count"></span>
			    <div class="downleader-hotpaper">
			        <h1 class="paper-title">物理 热门试卷</h1>
			        <ul class="paper-ul">
			            
			            <li class="paper-li">
			                <i class="paper-icon paper-1"></i>
			                <a href="//tiku.baidu.com/tikupc/paperdetail/adf16780d4d8d15abe234ef6" class="paper-contain">
			                    2017年高考真题 物理 (海南卷)
			                </a>
			            </li>
			            
			            <li class="paper-li">
			                <i class="paper-icon paper-4"></i>
			                <a href="//tiku.baidu.com/tikupc/paperdetail/b95f8c4c2e3f5727a5e9626c" class="paper-contain">
			                    物理 2017年第二次联考
			                </a>
			            </li>
			            
			            <li class="paper-li">
			                <i class="paper-icon paper-1"></i>
			                <a href="//tiku.baidu.com/tikupc/paperdetail/328976c789eb172ded63b7a1" class="paper-contain">
			                    2017年高考真题 物理 (江苏卷)
			                </a>
			            </li>
			            
			            <li class="paper-li">
			                <i class="paper-icon paper-1"></i>
			                <a href="//tiku.baidu.com/tikupc/paperdetail/e361936648d7c1c708a14500" class="paper-contain">
			                    2016年高考真题 物理 (江苏卷)
			                </a>
			            </li>
			            
			            <li class="paper-li">
			                <i class="paper-icon paper-4"></i>
			                <a href="//tiku.baidu.com/tikupc/paperdetail/8b4bdd7d27284b73f2425066" class="paper-contain">
			                    物理 2017年第三次模拟考试
			                </a>
			            </li>
			            
			        </ul>
			    </div>
			    <span class="downleader-close">X</span>
			    <!-- <span class="downleader-ok">知道啦</span> -->
			    <a class="downleader-more" href="//tiku.baidu.com/tikupc/paperlist/1bfd700abb68a98271fefa04-18-0-0-0-1-download">查看更多试卷</a>
			</div>

			<!-- 主体内容 -->
    		<div class="bd-content" style="visibility: visible;">
	        	<div class="quelist-wrap">
	        	<div class="ques-container" th:each="p,pStat:${paper.queInfo}">
	        			<div class="ques-info-wrap">
			            <span class="que-type">单选题</span>
			            <span class="que-info" th:text="${p.title}">本大题共<span class="count">15</span>小题，每小题<span class="score">1</span>分，共<span class="total-score">15</span>分。在每小题给出的4个选项中，有且只有一项是符合题目要求。</span>
			        </div>
	                <div th:attr="data-id=${q.uid},data-index=${q.uid}" class="question-box que-multi" th:if="${q.questionType == p.type}" th:each="q,qStat:${questionList}">
						    <div class="question-box-inner" >
						        <span class="queindex-wrap"><span class="queindex" th:text="${qStat.index + 1}">1</span></span>
						        <span class="pieces">
						                多选题
						        </span>
						        <div class="que-stem">
						            <div class="questem-inner bdjson" th:utext="${q.content }"><p><span>社会工作专业化是在长期社会服务实践中形成，在实践中被接受的。在专业化过程中，社会工作发展的重要特点包括(  )。</span><br><br><span>                A．专业理论的完善</span><br><span>B．专业方法的发展</span><br><span>C．目标模式的变化</span><br><span>D．工作对象的拓展</span><br><span>E．理论派别的形成</span><br></p></div>
						        </div>
						        <div class="view-analyse">
								    <a class="view-link" th:href="${setting.domain + 'question/' + q.uid + '.html'}">查看题目解析 &gt;</a>
								</div>
						    </div>	
					</div>
				</div>
				
				<!-- 推荐试卷 -->
			    <div class="recpaper">
				    <ul class="recp-title clearfix">
				        <li class="recp-li repc-curr" data-class="zhenti">真题试卷</li>
				        <li class="recp-border"></li>
				        <li class="recp-li" data-class="moni">模拟试卷</li>
				        <li class="recp-border"></li>
				        <li class="recp-li" data-class="yuce">预测试卷</li>
				    </ul>
				    <div class="recp-contain recp-dis-zhenti" style="display: block;">
				        <ul class="clearfix">
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/a23519116c175f0e7cd137bd" class="recp-link" data-class="zhenti">
				                    2017年高考真题 英语 (浙江卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/96dfb81ca300a6c30c229fbd" class="recp-link" data-class="zhenti">
				                    2017年高考真题 英语 (天津卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/d67b685abe23482fb4da4ca6" class="recp-link" data-class="zhenti">
				                    2017年高考真题 英语 (全国III卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/accb1d5177232f60ddcca1a6" class="recp-link" data-class="zhenti">
				                    2017年高考真题 英语 (江苏卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/4164d837ee06eff9aef807a7" class="recp-link" data-class="zhenti">
				                    2017年高考真题 英语 (全国II卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/a8a6d5175f0e7cd1842536b2" class="recp-link" data-class="zhenti">
				                    2017年高考真题 英语 (全国I卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/fe03bcdaa58da0116c174929" class="recp-link" data-class="zhenti">
				                    2016年高考真题 英语 (江苏卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-zhen"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/48fe3bd4b14e852458fb5729" class="recp-link" data-class="zhenti">
				                    2016年高考真题 英语 (上海卷)
				                </a>
				            </li>
				            <a href="//tiku.baidu.com/tikupc/paperlist/1bfd700abb68a98271fefa04-24-1-0-0-1-download" class="recp-more" data-class="zhenti">查看更多真题试卷 &gt;</a>
				        </ul>
				    </div>
				    <div class="recp-contain recp-dis-moni" style="display: none;">
				        <ul class="clearfix">
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/19f2517101f69e31433294f3" class="recp-link" data-class="moni">
				                    英语 2017年期末考试
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/451105eb6294dd88d0d26bc7" class="recp-link" data-class="moni">
				                    英语 2017年第一次模拟考试
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/d6d8ef0203d8ce2f00662354" class="recp-link" data-class="moni">
				                    英语 2017年第三次模拟考试
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/eb4b51d8d15abe23482f4dce" class="recp-link" data-class="moni">
				                    英语 2017年第一次质检考试
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/5b27b6f67c1cfad6195fa7ca" class="recp-link" data-class="moni">
				                    英语 2016年第二次模拟考试
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/2c870c42a8956bec0975e37b" class="recp-link" data-class="moni">
				                    英语 2016年第二次模拟考试
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/659150f7ba0d4a7302763a7b" class="recp-link" data-class="moni">
				                    英语 2016年第二次模拟考试
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-mo"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/5b40b6f67c1cfad6195fa7ad" class="recp-link" data-class="moni">
				                    英语 2016年第二次模拟考试
				                </a>
				            </li>
				            <a href="//tiku.baidu.com/tikupc/paperlist/1bfd700abb68a98271fefa04-24-4-0-0-1-download" class="recp-more" data-class="moni">查看更多模拟试卷 &gt;</a>
				        </ul>
				    </div>
				    <div class="recp-contain recp-dis-yuce" style="display: none;">
				        <ul class="clearfix">
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/676ba1c7aa00b52acfc7caa1" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (大纲全国卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/cf81a5e9856a561252d36fa3" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (江苏卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/14a4de80d4d8d15abe234ea3" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (辽宁卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/988869eae009581b6bd9ebca" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (上海卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/740808a1284ac850ad0242ca" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (安徽卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/14cdde80d4d8d15abe234eca" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (全国新课标卷II)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/644fd4d8d15abe23482f4dca" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (山东卷)
				                </a>
				            </li>
				            <li class="recp-contain-li">
				                <i class="recp-icon repc-ya"></i>
				                <a href="//tiku.baidu.com/tikupc/paperdetail/b81e84254b35eefdc8d333ca" class="recp-link" data-class="yuce">
				                    2015年高考权威预测卷 英语 (湖北卷)
				                </a>
				            </li>
				        </ul>
				        <a href="//tiku.baidu.com/tikupc/paperlist/1bfd700abb68a98271fefa04-24-2-0-0-1-download" class="recp-more" data-class="yuce">查看更多预测试卷 &gt;</a>
				    </div>
				</div>
                <div class="crumbs">
                    <a href="http://localhost/">百度题库</a> &gt;
                    <a href="/tikupc/chapterlist/3f0c844769eae009581bec05-0-knowpoint-11">社会工作师</a> &gt;
                    <a href="/tikupc/chapterlist/3f0c844769eae009581bec05-152-knowpoint-11">综合能力（中级）</a> &gt;
                    <span>中国社会工作在不同发展阶段的特点</span>
                 </div>
	        </div>
	        <div class="queanalyse-wrap" style="position: fixed; left: 1151.5px; top: 162px; height: 757px; display: none;">
			   <div class="close-btn"></div>
			   <div class="content-wrap" id="queanalyse-content" style="overflow: hidden; position: relative; outline: none;" tabindex="0">
			   <div class="analyse-content" style="transform: translate3d(0px, 0px, 0px);">
			   <div class="que-title-wrap"> 
			   <div class="title"> 
				   <span class="content-wrap"> 
				   	   <span class="dt-index">1</span> 
					   <span class="content"> 
					   <span style="display:  none "> 第(0)小题</span>正确答案及相关解析 </span> 
				   </span> 
			   </div> 
			   <hr style="display:  none ">
			   </div>
			   <div class="exam-answer"> 
			   		<h3 class="exam-answer-title">正确答案</h3>  
			   		<div class="answer-item"> 
			   		<div class="content exam-answer-content bdjson"><p>见解析。</p></div> 
			   		</div> 
			   	</div>
			   	<div class="exam-analysis exam-info"> 
			   		<h3 class="exam-analysis-title">
			   		<span class="ic analysis-ic">解析</span></h3> 
			   		<div class="content exam-analysis-content bdjson"><p><span>设</span></p></div>
			   	</div> 
			   	</div>
			    <div class="nicescroll-rails nicescroll-rails-vr" id="ascrail2000" style="width: 5px; z-index: 5555; cursor: default; position: absolute; top: 0px; right: 0px; touch-action: none; height: 859px; opacity: 0; display: none;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(219, 219, 219); border: 0px; background-clip: padding-box; border-radius: 5px; touch-action: none;"></div></div><div class="nicescroll-rails nicescroll-rails-hr" id="ascrail2000-hr" style="height: 5px; z-index: 5555; position: absolute; left: 0px; bottom: 0px; cursor: default; width: 354px; opacity: 0; display: none;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(219, 219, 219); border: 0px; background-clip: padding-box; border-radius: 5px; left: 0px;"></div></div></div>
			    <div class="toolbar ui-border-top">
			        <ul class="toolbar-ul">
			            <li class="pre-li disable"><span class="pre">上一题</span></li>
			            <li class="center-li">
			                <span class="current">1</span>/<span class="total">2</span>
			            </li>
			            <li class="next-li"><span class="next">下一题</span></li>
			        </ul>
			    </div>
			</div>
   	 	</div>
 	</div>
</div>
<div class="mask firstleader"></div>
</body>
<script type="text/javascript" th:src="${setting.domain + 'js/jquery-3.3.1.min.js'}" ></script>
<script type="text/javascript" th:src="${setting.domain + 'js/index.js'}" ></script>
<script type="text/javascript" th:src="${setting.domain + 'js/paper.js'}" ></script>
</html>
