<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>高考-题库</title>
		<link rel="stylesheet" th:href="${setting.domain + 'css/main.css'}"></link>
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/iconfont.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/subject.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/footer.css'}" />
	</head>
	<body>

	<!-- 头部-->
	<div th:replace="include/header :: header"></div>
	
	<!--主体-->
	<div class="content-wp">
        <div class="main">
    		<div class="main-container">
    			<!--二级导航开始-->
    			<div class="main-submenu">
				    <div class="submenu-contain clearfix">
				        <span class="contain-title">
				            <a th:href="${setting.domain + 'subject/' + subjectId + '.html'}">高考</a>
				        </span>
				        <ul class="contain-ul">
				            <li class="contain-li">
				                <a th:href="${setting.domain + 'subject/' + subjectId + '.html'}" class=" curr ">考试首页</a>
				            </li>
				            <li class="contain-li curr">
				                <a class="" th:href="${setting.domain + 'chapter/' + subjectId + '/'+course.uid+'.html'}">章节学习</a>
				            </li>
				            <li class="contain-li">
				                <a class="" th:href="${setting.domain + 'paperlist/' + subjectId + '/'+course.uid+'-'+setting.PAPER_TYPE_ZHENTI+'-0-0-1.html'}">真题试卷</a>
				            </li>
				            <li class="contain-li">
				                <a class="" th:href="${setting.domain + 'paperlist/' + subjectId + '/'+course.uid+'-'+setting.PAPER_TYPE_MONI+'-0-0-1.html'}">模拟试卷</a>
				            </li>
				            <li class="contain-li">
				                <a class="" th:href="${setting.domain + 'paperlist/' + subjectId + '/'+course.uid+'-'+setting.PAPER_TYPE_YATI+'-0-0-1.html'}">考前押题</a>
				            </li>
				        </ul>
				    </div>
    			</div>
    			<!--二级导航结束-->
    			
    			<!--头部轮播开始-->
				<div class="banner" th:if="${a.businessKey == 'subject_' + subjectId}" th:each="a,aStat:${adList}">
					<ul class="banner-list">
						<li class="img-list" th:style="${ad.index == 1} ? 'opacity: 1; z-index: 9;' : 'opacity: 1; z-index: 1;'" th:each="ad,adStat:${a.ads}">
							<a th:attr="data-href=${ad.href},data-index=${ad.index}" class="banner-link img-1" th:href="${ad.href}" target="_blank">
								<div th:style="${'background-image:url(' + ad.bgimage + ');'}" class="banner-pic"></div>
								<!--<img class="banner-pic" alt="" src="https://edu-wenku.bdimg.com/v1/na/NAZXJ/%E9%A2%98%E5%BA%93%E9%A6%96%E9%A1%B5banner-1510132588487.jpg">-->
							</a>
						</li>
					</ul>
					<ul class="play-nav">
						<li th:attr="data-idx=${ad.index}" th:class="${ad.index == 1} ? 'cur' : ''" th:each="ad,adStat:${a.ads}">
							<a href="javascript:void(0);" th:text="${ad.index}">1</a>
						</li>
					</ul>
				</div>
				<!--头部轮播结束-->
				
				<!--伴您走过-->
				<div class="withyou-container-box">
				    <div class="withyou-container">
				    	<p class="container-title">伴您走过</p>
				    	<p class="title-detail">学习中每一个阶段</p>
				    	<div class="title-underline">
				        </div>
				        <div class="withyou-main">
				        	<a class="withyou-box withyou-box-learn log-withyou-box " th:href="${setting.domain + 'chapter/' + subjectId + '/'+course.uid+'.html'}" data-info="kp">
				        		<div class="box-title">
				        			<p class="box-title-name">章节学习</p>
				        			<p class="box-title-detail">考点各个击破</p>
				        			<div class="box-title-bg"></div>
				        		</div>
				        		<p class="box-content">串考点<span class="box-content-icon iconfont icon-right"></span></p>
				        	</a>
				        	<a class="withyou-box withyou-box-paper log-withyou-box " th:href="${setting.domain + 'paperlist/' + subjectId + '/'+course.uid+'-'+setting.PAPER_TYPE_ZHENTI+'-0-0-1.html'}" data-info="zhenti">
				        		<div class="withyou-box-mod-triangle">
				        			<div class="triangle-border"></div>
				        			<div class="triangle-inset"></div>
				        		</div>
				        		<div class="box-title">
				        			<p class="box-title-name">真题模拟</p>
				        			<p class="box-title-detail">巩固核心重点</p>
				        			<div class="box-title-bg"></div>
				        		</div>
				        		<p class="box-content">练重点<span class="box-content-icon iconfont icon-right"></span></p>
				        	</a> 
				        	<a class="withyou-box withyou-box-score log-withyou-box " th:href="${setting.domain + 'paperlist/' + subjectId + '/'+course.uid+'-'+setting.PAPER_TYPE_YATI+'-0-0-1.html'}" data-info="yuce">
				        		<div class="withyou-box-mod-triangle">
				        			<div class="triangle-border"></div>
				        			<div class="triangle-inset"></div>
				        		</div>
				        		<div class="box-title">
				        			<p class="box-title-name">考前押题</p>
				        			<p class="box-title-detail">成功斩获得分数</p>
				        			<div class="box-title-bg"></div>
				        		</div>
				        		<p class="box-content">去冲刺<span class="box-content-icon iconfont icon-right"></span></p>
				        	</a>
				        </div>
				        <div class="withyou-circle circle1"></div>
				        <div class="withyou-circle circle2"></div>
				        <div class="withyou-circle circle3"></div>
				    </div>
				</div>
    			<!--伴您走过-->
    			
    			<!-- 章节学习-->
    			<div class="course-container">
					<div class="course-container-main">
					<p class="container-title">章节学习</p>
					<div class="course-list-container">
						<div class="course-list">
							<a th:class="${cStat.index == 0} ? 'course-item  course-item-select' : 'course-item'" th:attr="courseid=${c.uid},data-courseid=${c.uid}"  th:each="c,cStat:${courseList}" th:text="${c.name}">
								理科数学
							</a>
						</div>
					</div>
					<div class="chapter-list">
						<ul class="chapterlist-container">
							<li class="chapterlist-item" th:each="c,cStat:${chapterList}" th:if="${cStat.index < 5}">
								<p class="chapterlist-item-name">
									<a class="chapterlist-item-name-link" data-kp="a9d6195f312b3169a451a405" href="/tikupc/chapterlist/1bfd700abb68a98271fefa04-16-knowpoint-11#dct-0">
										<span th:text="${c.name}">第一章 集合与常用逻辑用语</span>
									</a>
								</p>
								<p class="chapterlist-detail"><span th:text="${c.pointNum}">21</span>知识点 | <span th:text="${c.questionNum}">2295</span>试题</p>
								<a class="chapterlist-item-btn" data-kp="a9d6195f312b3169a451a405" th:href="${setting.domain + 'chapter/' + subjectId + '/'+course.uid+'.html'}">开始学习</a>
							</li>
							
						</ul>
						<p class="more-chapterlist-item">
							<a class="more-item" th:href="${setting.domain + 'chapter/' + subjectId + '/'+course.uid+'.html'}">更多章节 &gt; </a>
						</p>
					</div>
				
					<div class="alllearn-list">
						<div class="class-feed-box-wrap">
							<h3 class="feed-title">
							大家都在学
							</h3>
							<div class="feed-list-content">
								<ul class="feed-list" style="top: 0px;">
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7904424" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">刘刘</span>已学完了239个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/75c8dbd8d15abe23482f4d4d-1-10-knowpoint" data-knowledgeid="75c8dbd8d15abe23482f4d4d">中和热</a>等<span class="course-num">15</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7904718" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">李翊</span>已学完了298个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/074a0d020740be1e650e9a4e-1-10-knowpoint" data-knowledgeid="074a0d020740be1e650e9a4e">相互独立事件的概率乘法公式</a>等<span class="course-num">17</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903229" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">小小赵</span>已学完了226个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/ae2711b91a37f111f1855b4e-1-10-knowpoint" data-knowledgeid="ae2711b91a37f111f1855b4e">秦九韶算法</a>等<span class="course-num">6</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900337" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">雪花飘落</span>已学完了40个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/75e0fa24ccbff121dd368343-1-10-knowpoint" data-knowledgeid="75e0fa24ccbff121dd368343">工业时代的经济组织</a>等<span class="course-num">19</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900336" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">冠</span>已学完了199个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/0eac6d94dd88d0d233d46a42-1-10-knowpoint" data-knowledgeid="0eac6d94dd88d0d233d46a42">磁现象和磁场</a>等<span class="course-num">8</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905536" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">覃兆恒</span>已学完了129个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/e2479fc69ec3d5bbfd0a7447-1-10-knowpoint" data-knowledgeid="e2479fc69ec3d5bbfd0a7447">工业的区位选择</a>等<span class="course-num">11</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7904622" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">小安迪</span>已学完了28个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/6527d2ccda38376baf1fae42-1-10-knowpoint" data-knowledgeid="6527d2ccda38376baf1fae42">能量守恒定律与能源</a>等<span class="course-num">2</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900984" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">雪儿444</span>已学完了106个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/b8178f4d2b160b4e767fcf4d-1-10-knowpoint" data-knowledgeid="b8178f4d2b160b4e767fcf4d">科学探究的基本过程</a>等<span class="course-num">7</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903275" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">宝潮森</span>已学完了101个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/ea26946648d7c1c708a14547-1-10-knowpoint" data-knowledgeid="ea26946648d7c1c708a14547">价值规律及其表现形式</a>等<span class="course-num">17</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905644" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">玉yu</span>已学完了40个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/9246fe2d2af90242a895e54d-1-10-knowpoint" data-knowledgeid="9246fe2d2af90242a895e54d">探究弹力和弹簧伸长的关系</a>等<span class="course-num">12</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905522" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">潇洒妹</span>已学完了62个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/2ca55d4de518964bcf847c42-1-10-knowpoint" data-knowledgeid="2ca55d4de518964bcf847c42">示波管的构造及其工作原理</a>等<span class="course-num">8</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900283" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">泉之愿</span>已学完了132个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/3f5af5d6195f312b3169a543-1-10-knowpoint" data-knowledgeid="3f5af5d6195f312b3169a543">百家争鸣</a>等<span class="course-num">12</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905362" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">猫咪老师</span>已学完了124个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/83915f22aaea998fcc220e48-1-10-knowpoint" data-knowledgeid="83915f22aaea998fcc220e48">酶在代谢中的作用</a>等<span class="course-num">11</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903386" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">wsyou</span>已学完了137个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/389227ea81c758f5f61f6742-1-10-knowpoint" data-knowledgeid="389227ea81c758f5f61f6742">电源和电流</a>等<span class="course-num">11</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903073" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">蒙奇D路飞</span>已学完了41个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/a08b4f28915f804d2b16c14c-1-10-knowpoint" data-knowledgeid="a08b4f28915f804d2b16c14c">聚合反应与酯化反应</a>等<span class="course-num">14</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7902856" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">Veraleto</span>已学完了146个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/bd330ef69e31433239689347-1-10-knowpoint" data-knowledgeid="bd330ef69e31433239689347">陆地水体的补给关系</a>等<span class="course-num">11</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901923" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">金信酒业王俊杰</span>已学完了103个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/75effa24ccbff121dd36834c-1-10-knowpoint" data-knowledgeid="75effa24ccbff121dd36834c">溶液的配制</a>等<span class="course-num">6</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901957" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">A小灰灰</span>已学完了47个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/8009c750ad02de80d4d84046-1-10-knowpoint" data-knowledgeid="8009c750ad02de80d4d84046">斯密的政策主张 </a>等<span class="course-num">1</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7904302" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">Cc</span>已学完了258个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/3e652060ddccda38376baf43-1-10-knowpoint" data-knowledgeid="3e652060ddccda38376baf43">李贽</a>等<span class="course-num">5</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905230" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">心中那一抹微光</span>已学完了278个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/63a20675f46527d3240ce04b-1-10-knowpoint" data-knowledgeid="63a20675f46527d3240ce04b">人类遗传病的监测和预防</a>等<span class="course-num">4</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7902880" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">王锦涛</span>已学完了21个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/2c6ba045b307e87101f6964f-1-10-knowpoint" data-knowledgeid="2c6ba045b307e87101f6964f">三角函数线</a>等<span class="course-num">12</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905134" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">冷瞳</span>已学完了43个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/515afe8583d049649b66584e-1-10-knowpoint" data-knowledgeid="515afe8583d049649b66584e">虚数单位i及其性质</a>等<span class="course-num">17</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900841" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">东尼</span>已学完了178个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/07485dea551810a6f5248643-1-10-knowpoint" data-knowledgeid="07485dea551810a6f5248643">工业革命</a>等<span class="course-num">12</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900721" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">芳芳</span>已学完了104个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/41913cd4b14e852458fb5746-1-10-knowpoint" data-knowledgeid="41913cd4b14e852458fb5746">价值冲突及评价标准</a>等<span class="course-num">16</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901407" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">肖冬波</span>已学完了159个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/6267edbd960590c69ec3764f-1-10-knowpoint" data-knowledgeid="6267edbd960590c69ec3764f">三角函数恒等式的证明</a>等<span class="course-num">3</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900852" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">张娟</span>已学完了262个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/fd3bad6925c52cc58bd6be43-1-10-knowpoint" data-knowledgeid="fd3bad6925c52cc58bd6be43">古代手工业的经营形态</a>等<span class="course-num">11</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901308" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">苹果</span>已学完了242个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/ca7388c24028915f804dc24c-1-10-knowpoint" data-knowledgeid="ca7388c24028915f804dc24c">消去反应与水解反应</a>等<span class="course-num">2</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901904" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">仙女天</span>已学完了109个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/3f2e47d7c1c708a1284a444d-1-10-knowpoint" data-knowledgeid="3f2e47d7c1c708a1284a444d">重要的还原剂</a>等<span class="course-num">19</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903509" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">Haih</span>已学完了265个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/df988feb6294dd88d0d26b4e-1-10-knowpoint" data-knowledgeid="df988feb6294dd88d0d26b4e">排序问题与算法的多样性</a>等<span class="course-num">8</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905390" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">小美</span>已学完了62个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/fc02bc07e87101f69e319542-1-10-knowpoint" data-knowledgeid="fc02bc07e87101f69e319542">波长、频率和波速的关系</a>等<span class="course-num">17</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901692" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">lee</span>已学完了189个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/c850896fb84ae45c3b358c42-1-10-knowpoint" data-knowledgeid="c850896fb84ae45c3b358c42">理想气体的状态方程</a>等<span class="course-num">5</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901109" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">Fiona</span>已学完了229个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/064fc31755270722192ef74e-1-10-knowpoint" data-knowledgeid="064fc31755270722192ef74e">平行关系的综合应用</a>等<span class="course-num">7</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7904118" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">多动症boy</span>已学完了176个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/9d446385ec3a87c24028c44c-1-10-knowpoint" data-knowledgeid="9d446385ec3a87c24028c44c">烃的衍生物官能团</a>等<span class="course-num">18</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900162" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">开心快乐</span>已学完了114个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/3d5a56eef8c75fbfc77db243-1-10-knowpoint" data-knowledgeid="3d5a56eef8c75fbfc77db243">古代中国农业经济的特点</a>等<span class="course-num">8</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7902766" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">阳</span>已学完了294个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/912bc5aedd3383c4bb4cd24c-1-10-knowpoint" data-knowledgeid="912bc5aedd3383c4bb4cd24c">有机物的结构式</a>等<span class="course-num">13</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7904582" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">尋舊</span>已学完了298个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/c92dfa335a8102d276a22f4e-1-10-knowpoint" data-knowledgeid="c92dfa335a8102d276a22f4e">简单曲线的极坐标方程</a>等<span class="course-num">17</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905407" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">花里</span>已学完了272个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/8c06213f5727a5e9856a614f-1-10-knowpoint" data-knowledgeid="8c06213f5727a5e9856a614f">余弦定理的应用</a>等<span class="course-num">2</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901765" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">凯</span>已学完了171个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/ae3d70d5360cba1aa811da49-1-10-knowpoint" data-knowledgeid="ae3d70d5360cba1aa811da49">奇偶性与单调性的综合</a>等<span class="course-num">8</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905934" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">梁生</span>已学完了185个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/8f46b468a98271fe910ef948-1-10-knowpoint" data-knowledgeid="8f46b468a98271fe910ef948">平面的基本性质及推论</a>等<span class="course-num">6</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900529" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">阿建</span>已学完了63个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/485364d97f1922791688e84d-1-10-knowpoint" data-knowledgeid="485364d97f1922791688e84d">测定电源的电动势和内阻</a>等<span class="course-num">10</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903713" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">权龙</span>已学完了120个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/cdb9780bf78a6529647d5347-1-10-knowpoint" data-knowledgeid="cdb9780bf78a6529647d5347">环境保护</a>等<span class="course-num">6</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900787" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">Today张晓琳</span>已学完了67个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/6db04993daef5ef7ba0d3c46-1-10-knowpoint" data-knowledgeid="6db04993daef5ef7ba0d3c46">现代国家的管理形式 </a>等<span class="course-num">10</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7902858" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">航爸</span>已学完了251个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/7258a86e58fafab069dc0243-1-10-knowpoint" data-knowledgeid="7258a86e58fafab069dc0243">一战的后果</a>等<span class="course-num">7</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903586" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">玻璃心</span>已学完了266个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/bd644473f242336c1eb95e49-1-10-knowpoint" data-knowledgeid="bd644473f242336c1eb95e49">余弦定理</a>等<span class="course-num">13</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7900404" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">莫咏贤</span>已学完了154个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/4dc0dfd233d4b14e8524684d-1-10-knowpoint" data-knowledgeid="4dc0dfd233d4b14e8524684d">晶胞的计算</a>等<span class="course-num">10</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905061" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">范栋栋</span>已学完了194个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/a6755827a5e9856a5612604f-1-10-knowpoint" data-knowledgeid="a6755827a5e9856a5612604f">三角形中的几何计算</a>等<span class="course-num">6</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7901102" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">Z</span>已学完了44个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/ec1d78232f60ddccda38a049-1-10-knowpoint" data-knowledgeid="ec1d78232f60ddccda38a049">变换法画函数图象</a>等<span class="course-num">11</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7903833" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">言木羽</span>已学完了148个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/4b7868ec102de2bd96058848-1-10-knowpoint" data-knowledgeid="4b7868ec102de2bd96058848">独立性检验的基本思想</a>等<span class="course-num">17</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7905365" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">Bsharma</span>已学完了56个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/58aab7f67c1cfad6195fa747-1-10-knowpoint" data-knowledgeid="58aab7f67c1cfad6195fa747">经纬网</a>等<span class="course-num">7</span>个知识点</p>
										</div>
									</li>
									<li class="feed-list-item list-border">
										<img src="https://gss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portraitn/item/723134326867696c6c6i7904772" class="item-img">
										<div class="feed-list-detail">
											<p class="detail-item"><span class="item-name">女姐</span>已学完了107个知识点</p>
											<p class="detail-item">今天学了
												<a class="item-link" href="/tikupc/chapterdetail/1833ab17866fb84ae45c8d43-1-10-knowpoint" data-knowledgeid="1833ab17866fb84ae45c8d43">1787年宪法</a>等<span class="course-num">10</span>个知识点</p>
										</div>
									</li>
								</ul>
							</div>
							<p class="feed-more-link-item">
								<a class="feed-more-link" href="/tikupc/chapterlist/1bfd700abb68a98271fefa04-16-knowpoint-11">我也要学 &gt; </a>
							</p>
						</div>
					</div>
				</div>
				</div>
    			<!-- 章节学习结束-->
    			
    			<!-- 高考试卷资源-->
    			<div class="gaokaopaper-container">
					<p class="container-title">试卷资源</p>
					<p class="title-detail">一考知底，高分必刷，全面提分</p>
					<div class="title-underline"></div>
					<div class="cityArea">
						<a th:class="${a.uid == '1'} ? 'cityname selected' : 'cityname'" th:attr="provinceid=${a.uid},data-provinceid=${a.uid}" th:each="a,aStat:${areaList}" th:text="${a.name}">北京</a>
					</div>
					<div class="paper-main">
						<div class="paper-box zhenti-box homepage-zhenti-box">
							<div class="paper-list-wrap">
								<h3 class="paper-title">历年真题
									<a class="list-more-link" th:href="${setting.domain + 'paperlist/' + subjectId + '/'+course.uid+'-'+setting.PAPER_TYPE_ZHENTI+'-0-0-1.html'}">更多真题试卷 &gt;</a>
								</h3>
								<ul class="paper-list paper-list-zhenti">
									<li class="list-item" th:each="h,hStat:${historyPaperList}">
										<p class="list-item-name">
											<a class="list-item-name-link" data-paperid="d08fb966f5335a8102d220a5" th:href="${setting.domain + 'paper/'+h.uid+'.html'}" th:text="${h.name}">2017年高考真题 语文 (北京卷)</a>
										</p>
										<p class="list-item-detail">
											<a class="list-item-link list-item-link-jiexi" th:href="${setting.domain + 'paper/'+h.uid+'.html'}" data-paperid="d08fb966f5335a8102d220a5" target="_blank">解析</a><span class="item-separate">|</span>
											<a th:href="${setting.domain + 'paper/'+h.uid+'.html'}" class=" list-item-link  list-item-link-xiazai" "=" " data-paperid="d08fb966f5335a8102d220a5 " target="_blank ">下载</a>
										</li>
								</ul>
							</div>
						</div>
						<div class="paper-box moni-box homepage-moni-box">
							<div class="paper-list-wrap">
								<h3 class="paper-title">模拟试卷
									<a class="list-more-link" th:href="${setting.domain + 'paperlist/' + subjectId + '/'+course.uid+'-'+setting.PAPER_TYPE_MONI+'-0-0-1.html'}">更多模拟试卷 &gt;</a>
								</h3>
								<ul class="paper-list paper-list-moni">
									<li class="list-item" th:each="s,sStat:${simulationPaperList}">
										<p class="list-item-name">
											<a class="list-item-name-link" data-paperid="19f2517101f69e31433294f3" th:href="${setting.domain + 'paper/'+s.uid+'.html'}" th:text="${s.name}">英语 西城区2017年高三期末考试</a>
										</p>
										<p class="list-item-detail">
											<a class="list-item-link list-item-link-jiexi" th:href="${setting.domain + 'paper/'+s.uid+'.html'}" data-paperid="19f2517101f69e31433294f3" target="_blank">解析</a><span class="item-separate">|</span>
											<a th:href="${setting.domain + 'paper/'+s.uid+'.html'}" class=" list-item-link  list-item-link-xiazai" "=" " data-paperid="19f2517101f69e31433294f3 " target="_blank ">下载</a></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="homepage-paper-box shiti-box">
							<div class="hotpaper-list-wrap">
								<h3 class="hotpaper-title">热门试卷<a class="list-more-link" th:href="${setting.domain + 'paperlist/' + subjectId + '/0-0-0-0-0.html'}">更多热门试卷 &gt; </a>
								</h3>
								<ul class="hotpaper-list">
									<li class="hotpaper-list-item" th:each="h,hStat:${hotPaperList}">
										<a class="hotpaper-name" data-paperid="d08fb966f5335a8102d220a5" th:href="${setting.domain + 'paper/'+h.uid+'.html'}">
											<span th:class="${'rank-'+(hStat.index+1) + ' hotpaper-rank'}"></span><span th:text="${h.name}">2017年高考真题 语文 (北京卷)</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="school-paper-main">
						<div class="school-paper-container homepage-school-container">
							<h3 class="school-container-title">名校精品试卷
								<a class="school-paper-more-link" th:href="${setting.domain + 'paperlist/'+subjectId+'/0-4-0-0-1.html'}">更多名校精品卷 &gt; </a>
							</h3>
							<div class="school-list">
								<div th:class="${sStat.index == 2} ? 'school-list-item school-list-item-lastchild':'school-list-item'" th:each="s,sStat:${eliteSchoolPaperList}">
									<div class="school-wrap school-wrap-bg1">
										<a class="famous-school-link" th:href="${setting.domain + 'paperlist/'+subjectId+'/0-4-0-0-1.html'}">
											<div class="school-info">
												<p class="name" th:text="${s.name}">北京大学附属中学</p>
												<p class="info">
													<b>
						                        	同地区推荐 
						                        	</b> 共
													<span class="info-num" th:text="${#lists.size(s.paperList)}">8</span>套试卷
												</p>
											</div>
										</a>
									</div>
									<ul class="paper-wrap">
										<li class="paper-item" th:each="p,pStat:${s.paperList}">
											<a class="paper-item-name" th:href="${setting.domain + 'paper/'+p.uid+'.html'}" th:text="${p.name}">
												语文 海淀区2016年高三期末试卷
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="more-school-list">
							<a class="more-school-name" th:each="s,sStat:${eliteSchoolList}" th:text="${s.name}" th:href="${setting.domain + 'paperlist/'+subjectId+'/0-4-0-0-1.html'}">
								北京市八一学校
							</a>
						</div>
				
					</div>
				</div>
    			<!-- 高考试卷资源结束-->
    			
    			<!-- 页尾开始-->
    			<div class="gaokao-crumbs-box">
				    <div class="homepage-crumbs">
				        <a href="//tiku.baidu.com">百度题库</a> &gt;
				        <a href="/tikupc/homepage/1bfd700abb68a98271fefa04" class="cur-crumbs">高考</a> 
				    </div>
				</div>
    			<!-- 页尾结束-->
    		</div>
    	</div>
    </div>

	<!-- 底部开始-->
	
	<!--尾部-->
	<div th:replace="include/footer :: footer"></div>
	<!-- 底部结束-->
</body>
	
<script type="text/javascript" th:src="${setting.domain + 'js/jquery-3.3.1.min.js'}" ></script>
<script type="text/javascript" th:src="${setting.domain + 'js/main.js'}" ></script>
<script type="text/javascript" th:src="${setting.domain + 'js/subject.js'}" ></script>
</html>
