.banner_list {
    margin-bottom: 10px;
}
.cnav {
    height: 98px;
    width: 100%;
    background: url(../../images/member/index/project-cnavbj.jpg) no-repeat;
    background-size: cover;
}
.public.cnav_b {
    width: 1098px;
    margin: 0px auto;
    position: relative;
}
.cnav_b {
    position: relative;
}
.public {
    width: 1098px;
    margin: 0px auto;
}
.cnav_b {
    width: 930px!important;
}
.cnav_left {
    float: left;
    width: 162px;
    height: 54px;
    margin: 22px 0 0 46px;
    font-size: 18px;
    color: #fff;
    line-height: 54px;
    background: url(../../images/member/index/top-kaos.png) no-repeat;
    padding-left: 55px;
}
.banner_list .cnav_right {
    width: 660px;
}
.cnav_right {
    float: left;
    width: 583px;
    height: 5px;
    background: url(../../images/member/index/project-cnav.png) repeat-x;
    margin: 47px 0 0 0;
}
.cnav_right ul {
    position: absolute;
    top: 30px;
    left: 230px;
}
.banner_list .cnav_right ul li {
    width: 105px;
}
.cnav_right ul li {
    width: 120px;
    height: 50px;
    float: left;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 12px;
    margin-left: 32px;
}
.cnav_right ul li span {
    font-size: 12px;
    font-weight: bold;
    width: 27px;
    height: 27px;
    color: #29bdb9;
    display: block;
    margin: 5px auto 5px auto;
    text-align: center;
    line-height: 27px;
    background: url(../../images/member/index/project-candidate.png) no-repeat -26px 0;
}


div#container {
    padding-bottom: 200px;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.container {
    width: 100%;
}
.container {
    min-height: 560px;
    background-color: #f8f9fb;
}
.test_public {
    padding-bottom: 0px;
}
.test_public {
    width: 1100px;
    min-height: 233px;
    margin: 0 auto;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.test_public .topbt {
    height: 47px;
}
.topbt-2 {
    margin-top: 0px;
}
.topbt-2 {
    margin-top: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #dadada;
    text-align: left;
}
.topbt {
    width: 1066px;
    height: 47px;
    line-height: 47px;
    background: url(../../images/member/index/project-candidate.png) no-repeat -126px 0;
    margin: 0 auto 1px;
    font-weight: bold;
    font-size: 16px;
}
.topbt h3 {
    display: inline;
    font-size: 18px;
    margin-left: 15px;
}
.topbt h3 {
    font-weight: bolder!important;
}
.pronext {
    float: right;
    width: 54px;
    height: 26px;
    margin-top: 14px;
    background: url(../../images/member/index/project-candidate.png) no-repeat 0 -33px;
}
.pronext a {
    display: block;
    width: 49px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 25px;
    color: #000;
    text-align: center;
    font-weight: 100;
}

.sp_Tcen {
    padding-bottom: 0px;
}
.sp_Tcen {
    width: 85%;
    min-height: : 478px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.sp_Tcb1 {
    width: 100%;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    font-size: 16px;
    padding-left: 79px;
    margin-top: 17px;
}
.sp_Tcb1 {
    font-size: 14px;
    overflow: visible;
}
.sp_Tcb1::before {
    content: "*";
    color: #ff8a00;
    position: relative;
    top: 0px;
    left: -4px;
    float: left;
}
.sp_Tcb1 span {
    position: relative;
    top: -5px;
    float: left;
}
.container .sp_Tcb1 ul {
    width: 800px;
}
.sp_Tcb1 ul {
    display: inline-block;
    width: 730px;
}
html body .prof_t .A_N_P_Ali {
    border: 1px solid #29bdb9;
    color: #29bdb9;
}
.sp_Tcb1 ul li, .sp_Tc2 ul li {
    float: left;
    height: 30px;
    padding: 0 13px;
    border: 1px solid #e4e6e9;
    background: #f8f9fb;
    font-size: 14px;
    color: #999;
    line-height: 27px;
    margin-left: 9px;
    position: relative;
    cursor: pointer;
}
.A_N_P_Ali em {
    background: url(../../images/member/index/project-candidate.png) no-repeat -105px -19px;
    width: 18px;
    height: 18px;
    position: absolute;
    left: calc(100% - 17px);
    top: -1px;
    display: block;
}
.sp_Tc21 {
    height: 35px;
    width: 100%;
    margin-top: 14px;
    padding-left: 63px;
    font-size: 14px;
}
.fl {
    float: left;
    display: inline;
    margin-bottom: 16px;
}
.sp_Tc21.sp_Tc6 i {
    color: #666;
}
.fa {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 0px 2px;
}
.apa_ri-t1, .apa_ri-t2, .apa_ri-t3 {
    height: 32px;
    width: 100%;
    margin-top: 14px;
    line-height: 30px;
    padding-left: 18px;
    font-size: 14px;
}
.apa_ri-t3 ul {
    margin-left: 10px;
}
.apa_ri-t3 ul li {
    width: 213px;
}
.apa_ri-t3 ul li {
    float: left;
    width: 500px;
    height: 30px;
}
.apa_ri-t3 ul li input {
    width: 380px;
    height: 100%;
    border: 1px solid #dcdfe3;
    padding-left: 5px;
    color: #999;
}
.sp_Tc21 .dropdown {
    width: 150px;
    min-width: 150px;
    height:32px;
}
.dropdown .selected, .dropdown li {
    background: white;
}
.dropdown .carat {
    width: auto;
}

.container .sp_Tcb-ti {
    height: initial;
}
.sp_Tcb-ti {
    height: 134px;
}
.sp_Tcb-ti {
    width: 100%;
    margin: 21px 0;
    font-size: 16px;
    padding-left: 83px;
    height: 200px;
}
.sp_Tcb-ti span {
    line-height: 22px;
    float: left;
    display: block;
    margin-right: 8px;
    font-size: 14px;
}
.ueditor {
    float: left;
    width: 80%;
}
.danxuan {
    padding-left: 75px;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.danxuan>span {
    float: left;
    font-size: 14px;
    margin-top: 14px;
}
.start {
    color: #ff8a00;
    position: relative;
    top: 4px;
}
.container .danxuan .answer {
    overflow: initial;
}
.danxuan .answer {
    overflow: hidden;
    float: left;
    position: relative;
    padding-left: 4px;
}
.danxuan .answer .an {
    margin-bottom: 0px;
}
.danxuan .answer .an input, .danxuan .answer .an .forEditor {
    float: left;
}
.editorBox .content {
    position: relative;
}
.content {
    float: left;
    margin-left: 20px;
    width: 600px;
    min-height: 50px;
    background: #e7e7e7;
}
div[contenteditable="true"] {
    min-height: 30px;
}
.addQues-optextarea-div {
    font-family: 'microsoft yahei';
    font-size: 12px;
}
.addQues-optextarea-div {
    padding: 10px;
}
.addQues-optextarea-div {
    font-family: 'microsoft yahei';
    font-size: 12px;
}
.editorBox .editTip {
    position: absolute;
    bottom: -30px;
    background: rgb(102, 102, 102);
    z-index: 999;
    padding: 0px 10px;
    color: #2abcb8;
    height: 30px;
    line-height: 28px;
    padding-left: 8px;
    right: 0px;
}
.editTip a {
    font-size: 12px;
    color: white;
}
.fa {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 0px 2px;
}
.clear {
    clear: both;
    height: 10px;
}
.danxuan .add-answer {
    height: 37px;
    width: 285px;
    display: block;
    line-height: 35px;
    border: 1px dashed #29bdb9;
    color: #29bdb9;
    text-align: center;
    margin: 10px 0px;
    background: #f8f9fb;
    font-size: 14px;
    position: relative;
    left: 225px;
    top: 0px;
}
.tiankongNum .dropdown {
    width: 80px;
    min-width: 80px;
}
.tiankong {
    padding: 0 136px;
    padding-right: 60px;
}

.tiankong .content-model div.tkDiv {
    display: inline-block;
    width: 49%;
    margin-bottom: 10px;
}
.tiankong>div span.text-list {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    background: #2abcb8;
    float: left;
}
.tiankong .content-model div.tkDiv div.tkAns {
    border: 1px solid #ccc;
    float: left;
    width: 240px;
    padding: 3px 10px;
    line-height: 22px;
}
textarea {
    font-size: 12px!important;
}
.container .des-bank>div {
    width: initial;
}
.des-bank>div {
    float: left;
    width: 100%;
    font-size: 14px;
    position: relative;
    left: -3px;
    margin-bottom: 1px;
}
.sp_Tcb-ti textarea {
    height: inherit;
}
.sp_Tcb-ti textarea {
    height: 200px;
    border: 1px solid #dfe1e4;
    padding: 5px;
    font-size: 14px;
    width: 721px;
    float: left;
}
.hide {
    display: none;
}
.container .sp_Tcb-ti {
    height: initial;
}
.des-bank-2 {
    margin-left: -24px;
    height: 100px;
    padding-top: 5px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.diffcult {
    width: 100%;
    margin: 21px 0;
    font-size: 16px;
    padding-left: 78px;
    margin-top: -22px;
}
.diffcult>span {
    margin-right: 83px;
    font-size: 14px;
}
.diffcult .time-a {
    width: 50px;
}
.diffcult .time-a {
    width: 60px;
    height: 30px;
    border: 1px solid #dadada;
    padding-left: 4px;
    margin: 0 0px;
}
.diffcult .xing-kong {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../../images/member/index/icon.png) no-repeat -59px -109px;
    position: relative;
    top: 3px;
}
.submitBtns {
    padding-top: 20px;
    text-align: center;
}
.submitBtns a {
    padding: 6px 40px;
    background: #2abcb8;
    color: white;
    font-size: 16px;
    position: relative;
    border: 1px solid #2abcb8;
}
.duoxuan {
    padding-left: 75px;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.duoxuan>span {
    float: left;
    font-size: 14px;
    margin-top: 14px;
}
.container .duoxuan .answer {
    overflow: initial;
}
.duoxuan .answer {
    overflow: hidden;
    float: left;
    position: relative;
    padding-left: 4px;
}
.danxuan .add-answer:hover{background: #2abcb8;color: white}
.addpro-ts {
    position: relative;
    margin-left: 12px;
    margin-top: 2px;
    left: -50px;
    top: -24px;
}
.duoxuan .add-answer:hover{background: #2abcb8;color: white}
.addpro-ts {
    position: relative;
    margin-left: 12px;
    margin-top: 2px;
    left: -50px;
    top: -24px;
}
.duoxuan .add-answer {
    height: 37px;
    width: 285px;
    display: block;
    line-height: 35px;
    border: 1px dashed #29bdb9;
    color: #29bdb9;
    text-align: center;
    margin: 10px 0px;
    background: #f8f9fb;
    font-size: 14px;
    position: relative;
    left: 225px;
    top: 0px;
}
.duoxuan .add-answer:hover{background: #2abcb8;color: white}
.addpro-ts {
    position: relative;
    margin-left: 12px;
    margin-top: 2px;
    left: -50px;
    top: -24px;

}
.addQues-close i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../../images/member/index/icon.png) -53px -200px no-repeat;
}
.addQues-close {
    float: left;
    margin-left: 10px;
}