#wrapper {
    width: 100%;
}
#head, #content, #foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
#head {
    height: 75px;
    z-index: 100;
}
#head .mod-header {
    display: block;
    width: 330px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/logo.png) right no-repeat;
}
.mod-header {
    display: inline;
    font-size: 66px;
}
#head .mod-header a {
    display: none;
    width: 330px;
    height: 76px;
}
#head .mod-header a img {
    margin-top: 15px;
}
#nav {
    background: 0 0;
}
#nav .nav-2 {
    height: 20px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/reg_hr.png) no-repeat center top;
}
.clearfix {
    zoom: 1;
}
.mod-reg {
    position: relative;
}
.tang-pass-reg {
    position: relative;
    width: 720px;
    overflow: hidden;
}
.reg-content {
    float: left;
}
.tang-pass-reg .pass-generalErrorWrapper {
    margin: 0;
    padding: 0;
}
.tang-pass-reg .pass-generalError {
    color: #fc4343;
    display: block;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}
.tang-pass-reg .pass-form-item {
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
}
.tang-pass-reg .pass-label {
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right;
}
.tang-pass-reg .pass-text-input {
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    transition: .3s;
}
.tang-pass-reg .pass-clearbtn {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/reg_icons.png) -32px -24px no-repeat;
    top: 12px;
    left: 398px;
    cursor: pointer;
}
.tang-pass-reg .pass-item-error-password {
    position: absolute;
    float: left;
    background: 0 0;
    padding: 0;
    top: 0;
    left: 434px;
    height: 40px;
}
.tang-pass-reg .pass-item-error {
    display: none;
    float: left;
    position: relative;
    width: 250px;
    top: 12px;
    color: #fc4343;
    height: 16px;
    line-height: 14px;
    padding-left: 20px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/err_small.png) 0 0 no-repeat;
}
.tang-pass-reg .pass-item-error-password .nopwd .pwd-strength-sum {
    display: none;
}
.tang-pass-reg .pass-item-error-password .nopwd .pwd-strength-detail {
    margin-top: 12px;
}
.tang-pass-reg .pass-item-error-password .pwd-strength-detail {
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/reg_icons.png) -80px -24px no-repeat;
    padding-left: 20px;
    line-height: 16px;
    display: block;
    width: 220px;
}
.tang-pass-reg .pass-item-error-password .pwd-strength-bg {
    background-color: #eee;
}
.tang-pass-reg .pass-item-error-password .pwd-strength-sco, .tang-pass-reg .pass-item-error-password .pwd-strength-bg {
    display: block;
    position: absolute;
    width: 130px;
    height: 10px;
    line-height: 10px;
}
.tang-pass-reg .pwd-checklist .pwd-checklist-item-error {
    background-position: -86px -144px;
    color: #fc4343;
}
.tang-pass-reg .pwd-checklist .pwd-checklist-item-success {
    background-position: -86px -128px;
}
.tang-pass-reg .pwd-checklist .pwd-checklist-item-success {
    background-position: -86px -128px;
}
.tang-pass-reg .pwd-checklist {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #efefef;
    background: #f9f9f9;
    width: 200px;
}
.tang-pass-reg .pwd-checklist-wrapper .pwd-checklist-arrow {
    position: absolute;
    top: 8px;
    left: 0;
}
.tang-pass-reg .pwd-checklist-wrapper .pwd-checklist-arrow em.arrowa {
    color: #ddd;
    left: 0;
}
.tang-pass-reg .pwd-checklist-wrapper .pwd-checklist-arrow em {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}
.tang-pass-reg .pwd-checklist-wrapper .pwd-checklist-arrow em.arrowb {
    color: #f9f9f9;
    left: 1px;
}
.tang-pass-reg .pass-item-tiptext-password {
    padding-top: 0;
}
.tang-pass-reg .pass-item-tiptext {
    display: block;
}
.tang-pass-reg .pass-form-item {
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
}
.tang-pass-reg .pass-form-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.tang-pass-reg .pass-item-placeholder {
    top: 12px;
    line-height: 16px;
    _line-height: 18px;
    font-size: 14px;
    color: #ccc;
    left: 87px;
    display: none;
    visibility: hidden;
    width: 0;
    left: 0;
}
.tang-pass-reg .pass-item-tiptext-password {
    padding-top: 0;
}
.tang-pass-reg .pass-item-tip-password {
    position: absolute;
    left: 430px;
    top: 0;
    zoom: 1;
    z-index: 20;
}
.tang-pass-reg .pass-item-tip {
    width: 270px;
}
.tang-pass-reg .pass-form-item {
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
}
.tang-pass-reg .pass-label {
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right;
}
.tang-pass-reg .pass-text-input-verifyCode {
    width: 156px;
}
.tang-pass-reg .pass-form-item-verifyCode span, .tang-pass-reg .pass-form-item-verifyCodeSend span {
    float: left;
    display: block;
}
.tang-pass-reg .pass-clearbtn-verifyCode {
    left: 228px;
}
.tang-pass-reg .pass-clearbtn {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/reg_icons.png) -32px -24px no-repeat;
    top: 12px;
    left: 398px;
    cursor: pointer;
}
.tang-pass-reg input.pass-button-verifyCodeSend {
    border-radius: 0;
    border: 1px solid #ddd;
    height: 40px;
    background: #f7f7f7;
    color: #666;
    font-weight: 400;
    width: 160px;
    float: left;
    margin-right: 10px;
    font-size: 14px;
}
.tang-pass-reg .pass-button {
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-image: none;
    border-radius: 3px;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
}
.tang-pass-reg .pass-form-item-verifyCode span.pass-item-error, .tang-pass-reg .pass-form-item-verifyCodeSend span.pass-item-error {
    display: none;
}
.tang-pass-reg .pass-form-item-verifyCode span, .tang-pass-reg .pass-form-item-verifyCodeSend span {
    float: left;
    display: block;
}
.tang-pass-reg .pass-form-item-verifyCode span, .tang-pass-reg .pass-form-item-verifyCodeSend span {
    float: left;
    display: block;
}
.tang-pass-reg .pass-item-tip-verifyCodeSend {
    padding-top: 2px;
}
.tang-pass-reg .pass-item-tip {
    width: 270px;
}
.tang-pass-reg .pass-form-item-isAgree {
    margin-left: 75px;
}
.tang-pass-reg .pass-form-item-isAgree .pass-checkbox-isAgree {
    vertical-align: middle;
}
.tang-pass-reg .pass-form-item-isAgree label {
    color: #666;
    font-size: 12px;
    margin-left: 5px;
}
.tang-pass-reg a {
    text-decoration: none;
    color: #1b66c7;
}
.tang-pass-reg a {
    text-decoration: none;
    color: #1b66c7;
}
.tang-pass-reg .pass-form-item-submit {
    position: relative;
    left: 75px;
}
.tang-pass-reg .pass-form-item {
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
}
.tang-pass-reg a {
    text-decoration: none;
    color: #1b66c7;
}
.mod-reg .tang-pass-reg .pass-button-submit {
    background-color: #3f89ec;
}
.tang-pass-reg .pass-button-submit {
    float: left;
    width: 350px;
}
.tang-pass-reg .pass-button {
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-image: none;
    border-radius: 3px;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
}
#foot {
    text-align: center;
    color: #7a77c8;
    margin-top: 20px;
    margin-bottom: 20px;
}
#foot {
    margin-top: 80px;
}
#head, #content, #foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.reg-sms {
    width: 258px;
    border: 1px solid #d1eeff;
    background-color: #f5fbff;
    margin-top: 40px;
}
.reg-sms {
    float: right;
}
.mod-reg .login-link, .mod-regnotify .login-link {
    position: absolute;
    top: -70px;
    right: 0;
    color: #666;
}
.mod-reg .login-link span, .mod-regnotify .login-link span {
    float: left;
    display: block;
    margin-right: 5px;
    margin-top: 10px;
}
.mod-reg .login-link, .mod-regnotify .login-link {
    position: absolute;
    top: -70px;
    right: 0;
    color: #666;
}
.mod-reg .login-btn, .mod-regnotify .login-btn {
    font-weight: 700;
    color: #666;
    height: 32px;
    width: 64px;
    border: 0;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/reg_icons.png) no-repeat 0 -48px;
}
.tang-pass-reg .pass-item-tiptext-userName {
    padding-top: 6px;
}
.mod-reg .tang-pass-reg .pass-text-input-error {
    border-color: #fc4343;
}
.mod-reg .tang-pass-reg .pass-text-input-focus {
    border-color: #488ee7
}
.tang-pass-reg input.pass-text-input-disabled {
    background: #f6f6f6;
    border-color: #ebebeb;
    color: #c5c5c5
}
.tang-pass-reg span.pass-item-error-isAgree {
    top: 0;
    float: none;
}
button {
    cursor: pointer;
}
.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}